{% extends 'base.html' %}

{% block content %}
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v3.1&appId=2125271371046613&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
  <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
  <!--<a href="{% url 'social:begin' 'telegram' %}">Login with telegram</a>-->

<!--<script async src="https://telegram.org/js/telegram-widget.js?4"-->
        <!--data-telegram-login="VolunteerAuthbot"-->
        <!--data-size="medium"-->
        <!--data-radius="14"-->
        <!--data-auth-url="300ea037.ngrok.io/auth/complete/telegram"-->
        <!--data-request-access="write">-->
<!--</script>-->

<!--<div class="fb-login-button"-->
     <!--data-max-rows="1" data-size="medium" data-button-type="login_with"-->
     <!--data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>-->
{% endblock %}

