{% extends "base.html" %}
{% load static %}

{% block enter_button%}
    <button class="btn btn-sm align-middle ml-3 order-last btn btn-enter open-login" type="button">вхід</button>
{% endblock %}

{% block menu_button %}


<button href="#" class="btn btn-enter open-register">реєстрація</button>

{% endblock %}

{% block container %}
  {% include 'registration_form.html' %}
  {% include 'login_form.html' %}

<div class="row aboutus">
    <div class="col-md-9 text-center">
         <h1 class = "slog">волонтером бути легко</h1>
            <p class="p-slog"> приєднуйся до Ліги Волонтерів і <br/> відчуй себе частиною міста </p>
    </div>
</div>

<div class="row task-info ">
    <div class="col-4  d-none d-sm-block">

        <img class="golden-cup" src="{% static 'volunteer/images/golden_cup.png' %}">

    </div>
    <div class="col-sm-8 d-none d-sm-block d-md-none">
        <h2 class=" slog make-task">виконуй завдання  —  <br> отримуй винагороди</h2>
    </div>
    <div class="col-md-6 col-12">
        <div class="row">
            <div class="col-md-12 text-left mt10vh  d-sm-none d-md-block">
                <h2 class=" slog make-task">виконуй завдання  —  <br> отримуй винагороди</h2>
            </div>

        </div>

        <div class="row text-left">

            <div class="col-6 padding-0">
                <ul class="padd-mobile-left">
                    <li class="first-li">Завдання</li>
                    <li>-прибирай</li>
                    <li>-будуй</li>
                    <li>-висаджуй дерева</li>
                    <li>-допомагай тваринам</li>

                </ul>

            </div>

            <div class="col-6" >
                    <ul class="padd-mobile-right">
                    <li  class="first-li" >Винагороди</li>
                    <li>-подарунки від мера</li>
                    <li>-футболки, чашки, сумки</li>
                    <li>-місто твоєї мрії!</li>

                </ul>
            </div>

        </div>

    </div>
</div>

<div class="row"><div class="col-12 d-block d-sm-none">
        <img class="golden-cup float-right" src="{% static 'volunteer/images/golden_cup.png' %}">
    </div>
</div>


<div class="row how-it-works my-auto align-items-center justify-content-center">
    <!--<div class="col-md-2"></div>-->
    <div class="col-auto">
        <h4 class="mot-text">Бачиш проблему?</h4>
        <img class="hiw-image d-none d-sm-block" src="{% static 'volunteer/images/binocle.png' %}">
        <img class="hiw-image d-block d-sm-none" src="{% static 'volunteer/images/binoclesm.png' %}">
    </div>
    <div class="col-auto">
        <h4 class="mot-text">Створюй завдання</h4>
        <img class="hiw-image d-none d-lg-block"  src="{% static 'volunteer/images/task_list.png' %}">
        <img class="hiw-image d-block d-lg-none"  src="{% static 'volunteer/images/task_listsm.png' %}">
    </div>
    <div class="col-auto">
        <h4 class="mot-text">Знаходь однодумців</h4>
        <img class="hiw-image d-none d-sm-block"  src="{% static 'volunteer/images/help.png' %}">
        <img class="hiw-image d-block d-sm-none"  src="{% static 'volunteer/images/helpsm.png' %}">
    </div>
    <div class="col-auto">
        <h4 class="mot-text">Допомагай місту</h4>
        <img class="hiw-image d-none d-lg-block"  src="{% static 'volunteer/images/wand.png' %}">
        <img class="hiw-image d-block d-lg-none"  src="{% static 'volunteer/images/wand.png' %}">
    </div>

</div>


<div class="d-none d-sm-block">


<div class="row superman">
    <div class="col-md-5th-3 justify-content-center d-flex align-items-start">
        <h1 class="my-flex-item slog mot-h">Хочеш бути супергероєм <br> міста?
        <button class="btn btn-join open-register d-none d-sm-block d-md-none">приєднатися</button>

        </h1>
    </div>
    <div class="col-md-5th-2 justify-content-center d-flex align-items-end">
        <img class=" my-flex-item"  src="{% static 'volunteer/images/superhero.png' %}">
    </div>

</div>




<div class="row stairs">
    <div class="col-md-12">
        <div class="row ">
            <div class="col-md-5th-3 step ">

            </div>
            <div class="col-md-5th-1 justify-content-center step d-flex align-items-end">
                <img class="achievement-image my-flex-item"  src="{% static 'volunteer/images/achievement.png' %}">
            </div>

            <div class="col-md-5th-1 justify-content-center d-flex align-items-center  d-sm-none d-md-block">
                <button class="btn btn-block btn-join open-register">приєднатися</button>
            </div>
        </div>
        <div class="row my-auto align-items-center">
            <div class="col-md-5th-2 step">

            </div>
            <div class="col-md-5th-1 justify-content-center step d-flex align-items-end">
                <img class="achievement-image my-flex-item"  src="{% static 'volunteer/images/coins.png' %}">
            </div>
            <div class="col-md-5th-1 text-center step-info">
                <p class="p-step">Отримуй <br>прикольні ачівки</p>

            </div>
        </div>
        <div class="row my-auto align-items-center">
            <div class="col-md-5th-1 text-center step">

            </div>
            <div class="col-md-5th-1  justify-content-center step d-flex align-items-end">
                <img class="achievement-image my-flex-item"  src="{% static 'volunteer/images/flag.png' %}">
            </div>
            <div class="col-md-5th-1 text-center step-info">
                 <p class="p-step">Заробляй <br>бали</p>
            </div>
        </div>
        <div class="row my-auto align-items-center ">
            <div class="col-md-5th-1 justify-content-center step d-flex align-items-end">
                <img class="achievement-image my-flex-item"  src="{% static 'volunteer/images/find.png' %}">
            </div>
            <div class="col-md-5th-1  text-center step-info">
                <p class="p-step">Бери участь <br>у подіях міста</p>

            </div>

        </div>
        <div class="row my-auto align-items-center">
            <div class="col-md-5th-1 text-center step-info">
                <p class="p-step first-step d-sm-none d-md-block">Обирай цікаві <br>тобі завдання</p>
                <p class="p-step d-none d-sm-block d-md-none first-step">Обирай цікаві завдання</p>
            </div>

        </div>
    </div>
</div>

</div>

<div class="d-block d-sm-none">
    <div class="row">
        <div class="col-12 justify-content-center d-flex align-items-start">
            <h1 class="my-flex-item slog mot-h">Хочеш бути супергероєм <br> міста?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="small-superman"  src="{% static 'volunteer/images/superhero.png' %}">
        </div>
    </div>
    <div class="row stairs">
        <div class="col text-center">
           <button class="btn btn-join open-register">приєднатися</button>
        </div>
    </div>

</div>

        <div class="row my-auto align-items-end  d-flex justify-content-center wait-for-you">


            <div class="col-3 text-center justify-content-center  align-items-center">

                    <img class="cirle" src="{% static 'volunteer/images/team.png'%}">

                <!--<p class="step-info">-->
                    <!--дружня команда <br> волонтерів-->
                <!--</p>-->

            </div>

            <div class="col-3 text-center">

                     <img class="cirle" src="{% static 'volunteer/images/party.png' %}">

                 <!--<p class="step-info d-none d-md-block">-->
                    <!--яскраві події <br>та хороший настрій-->
                <!--</p>-->

                <!--<p class="step-info d-block d-md-none">-->
                    <!--яскраві події-->
                <!--</p>-->


            </div>
            <div class="col-3 text-center">

                     <img class="cirle" src="{% static 'volunteer/images/gifts.png' %}">

                 <!--<p class="step-info">-->
                    <!--плюшки місцевого<br>виробництва-->
                <!--</p>-->


            </div>

        </div>



        <div class="row justify-content-center">

            <div class="col-3 text-center justify-content-center  align-items-center">

                <p class="step-info">
                    дружня команда <br> волонтерів
                </p>

            </div>

            <div class="col-3 text-center justify-content-center  align-items-center">

                 <p class="step-info d-none d-md-block">
                    яскраві події <br>та хороший настрій
                </p>

                <p class="step-info d-block d-md-none">
                    яскраві події
                </p>

            </div>

            <div class="col-3 text-center justify-content-center  align-items-center">

                <p class="step-info">
                    плюшки місцевого<br>виробництва
                </p>

            </div>

        </div>



        <div class="row align-items-center text-center">
            <div class="col-12">
                <img class="my-flex-item img-join open-register" src="{% static 'volunteer/images/dirizable.png' %}">
            </div>
        </div>


    </div>




<div class="row faq t">
    <div class="col-4 text-right">
    <h1 class="slog ">F.A.Q.</h1>
    </div>
    <div class="col-6 padding-faq">
        <h3 class="question" answer = "ans-1">Як організувати подію?</h3>
        <ul class="answer d-none ans-1">
            <li class="li-ans">Обирай категорію події: екологія, урбанізм, благодійництво тощо</li>
            <li class="li-ans">Додавай опис і фотографії</li>
            <li class="li-ans">Визначай дату, місце розташування та кількість балів за участь</li>
            <li class="li-ans">Попроси допомоги в організації (принести віники, столи, стільчики)</li>
            <li class="li-ans">Слідкуй за статусом і коментарями до події</li>
        </ul>
        <h3 class="question " answer = "ans-2">Як приєднатися до івенту?</h3>
        <ul class="answer d-none ans-2">
            <li class="li-ans">Знаходь подію або завдання за допомогою зручних фільтрів і пошуку</li>
            <li class="li-ans">натискай приєднатися</li>
            <li class="li-ans">бери участь, виконуй завдання, допомагай організатору</li>
            <li class="li-ans">отримуй бали та оцінюй події</li>
        </ul>
        <h3 class="question" answer = "ans-3">За що саме дають бали?</h3>
        <ul class="answer d-none ans-3" >
            <li class="li-ans">Фіксована кількість балів за участь в події, бонуси активним учасникам</li>
            <li class="li-ans">Організаторам події дають бали за проведення, причому чим маштабніша подія, тим більше балів</li>
        </ul>
        <h3 class="question" answer = "ans-4">Хто отримує плюшки?</h3>
        <ul class="answer d-none ans-4">
            <li class="li-ans">Волонтер заробляє бали, просувається в рейтингу. Активні волонтери і організатори отримують винагороди.</li>
        </ul>
        <!--<h3 class="question" answer = "ans-5">Які саме завдання бувають?</h3>-->
        <!--<ul class="answer d-none ans-5">-->
            <!--<li>Існує 8 категорій:-->

                    <!--<li><strong>Урбанізм</strong>-->
                            <!--<li>-->
                                <!--Приклади завдань: намалювати мурал, розробити, прикольный дизайн мапи транспортного руху, нові таблички з назвами вулиць, реконструкція будівель, будівництво прикольних дитячих майданчиків, музикальні інструменти на вулиці)-->
                            <!--</li>-->
                    <!--</li>-->

                    <!--<li><strong>Толока</strong>-->
                            <!--<li>-->
                                <!--Приклади завдань: прибирання, організація проектів з сортування сміття, висадка дерев.-->
                            <!--</li>-->
                    <!--</li>-->
                    <!--<li><strong>Донорство</strong>-->
                            <!--<li>-->
                                <!--Приклади завдань: здати кров,лімфу.-->
                            <!--</li>-->
                    <!--</li>-->
                    <!--<li><strong>Благодійництво</strong>-->
                            <!--<li>-->
                                <!--Приклади завдань: організація таборів з безкоштовною їжею, збирання грошей та іграшок в дитячий будинок.-->
                            <!--</li>-->
                    <!--</li>-->
                    <!--<li><strong>Освіта</strong>-->
                            <!--<li>-->
                                <!--Приклади завдань: проведення лекцій, майстер-класів, організація гуртків для дітей.-->
                            <!--</li>-->
                    <!--</li>-->
                    <!--<li><strong>Прозорість</strong>-->
                            <!--<li>-->
                               <!--Приклади завдань: провести розслідування, на що пішли громадські кошти, боротьба із приватизацією громадських місць.-->
                            <!--</li>-->
                    <!--</li>-->
                    <!--<li><strong>Варта</strong>-->
                            <!--<li>-->
                               <!--Приклади завдань: організація уроків з надання першої медичної допомоги, патрулювання району в вечірній час, участь у русі територіальної оборони.-->
                            <!--</li>-->
                    <!--</li>-->
                    <!--<li><strong>Котики</strong>-->
                            <!--<li>-->
                               <!--Приклади завдань: облаштування будиночків для бездомних тварин.-->
                            <!--</li>-->
                    <!--</li>-->

            <!--</li>-->
        <!--</ul>-->
    </div>

</div>


{% endblock %}


