{% extends "base.html" %}
{% load static %}
{% load volunteer_extras %}
{% load static notifications_tags %}

{% block jscripts %}
    <script src="{% static 'volunteer/js/profile.js' %}"></script>
    <script src="{% static 'volunteer/js/achievements.js' %}"></script>
    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    <script src="{% static 'volunteer/js/live-test.js' %}" type="text/javascript"></script>
    <script src="{% static 'volunteer/js/profileedit.js' %}"></script>
    <style>
        p.ribbon{
            color: {{volunteer.league.color_league_txt}};
        }

        .volunteer-name{
            color: {{volunteer.league.color_volunteer_name}};
        }

        .curr_quat{
            color: {{volunteer.league.color_menu_item}};
        }


        .item-menu{
            color: {{volunteer.league.color_menu_item}};
        }

        .current-menu-item{
            background-image:linear-gradient(
              120deg,
              {{volunteer.league.color_current_grad1}},
              {{volunteer.league.color_current_grad2}},
              {{volunteer.league.color_current_grad1}}
            );
            border-left: 1.3vh solid {{volunteer.league.color_current_border}} ;
        }

        div.current-menu-item p.item-menu{
            color: {{volunteer.league.color_current_text}}!important;
        }

    </style>
{% endblock %}

{{achieve_quant|divide:league_user.quantity_achievement|to_int}}

{% block menu_button %}
    <form action="{% url 'logout' %}">
        <button class="btn btn-enter" type="submit">вийти</button>
    </form>
{% endblock %}

{% block container %}





        <div class="row align-self-center h-100">
            <div class="profile_info col-md-3 text-center align-items-center justify-content-center" style="background-image:url({{volunteer.league.background_image.url}}); background-color:{{volunteer.league.background_color}}">
                <div class="sidebar-nav-fixed affix">
                {% csrf_token %}
                <!--<h2>{{ volunteer.league }}</h2>-->
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="volunteer-name first-name">{{volunteer.first_name}}</h3>
                        <h4 class="volunteer-name">{{volunteer.last_name}}</h4>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="volunteer-name first-name"> </h3>
                        <h4 class="volunteer-name"> </h4>
                        <img  class="setting-img" get_url="{% url 'profile_edit' %}" src="{% static 'volunteer/images/setting.png'%}">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div>
                        <p class="ribbon">{{ volunteer.league }}</p>
                </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 profile-image">
                         <div>
                             <img class="user-league-info league-logo" src="{{league_user.league_image.url}}">
                                {% if volunteer.photo %}
                                 <img class="photo-user" src="{{ volunteer.photo.url }}">
                                {% else %}
                                <img class="photo-user" src="{% static  'volunteer/images/user_profile_default.png' %}" >
                                {% endif %}
                             <!--{{league_user.user_frame.url}}-->
                             <img class="user-league-info photo-frame" src="">
                        </div>
                    </div>

                </div>


                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <div class="own-progress-bar">
                            <div class="own-progress-league" style="width: {{achieve_quant|divide:league_user.quantity_achievement|multiply:100|to_int}}%">
                                <div class="progress_state">
                                    <p class="quant-ach">{{achieve_quant}}</p>
                                    <img class="img_progress_state" src="{% static 'volunteer/images/current_progress_state.png' %}">
                                </div>
                            </div>
                        <p class="text-right" style="margin-right: 0.7vh;">5</p>
                        </div>
                    </div>
                </div>



                    {% for point in user_points %}
                        {% if forloop.first %} <div class="row justify-content-md-center"> {% endif %}
                            <div class="col-md-2">
                                <img  src="{{ point.currency.image.url }}" style="height: 3vh;">
                                <p class="curr_quat">{{point.quantity}}</p>
                            </div>
                        {% if forloop.counter|divisibleby:4%} </div><div class="row justify-content-md-center"> {%endif%}
                         {% if forloop.last %}</div>{% endif %}
                    {% endfor %}



               <div class="row profile-menu-item text-left justify-content-md-center">
                    <div class="col-md-8">
                        <p class="item-menu my-events">мої добрі справи</p>
                    </div>
                </div>
                <div class="row profile-menu-item text-left justify-content-md-center d-none">
                    <div class="col-md-8">
                        <p class="my-volonter-events ">я волонтер</p>
                    </div>
                </div>
                <div class="row profile-menu-item text-left justify-content-md-center d-none">
                    <div class="col-md-8">
                        <p  class="my-org-events ">я організатор</p>
                    </div>
                </div>
                <div class="row profile-menu-item text-left justify-content-md-center current-menu-item">
                    <div class="col-md-8">
                        <p class="news item-menu " url_get = "{% url 'type_filter' %}">новини</p>
                    </div>
                </div>
                <div class="row profile-menu-item text-left justify-content-md-center">
                    <div class="col-md-8">
                        <p class="get-achievements item-menu" get_url="{% url 'achivments' %}">мої досягнення</p>
                    </div>
                </div>
                <div class="row profile-menu-item text-left justify-content-md-center">
                    <div class="col-md-8">
                        <p class="item-menu" id="open-reg-modal" post_url="{% url 'newevent' %}">організувати подію</p>
                    </div>
                </div>
                <div class="row profile-menu-item text-left justify-content-md-center">
                    <div class="col-md-8">
                        <!--<a href="{% url 'notifications' %}" <p  class="item-menu"  >сповіщення</p>-->
                        <p  class="item-menu notifications" get_url = "{% url 'notifications' %}"  >сповіщення</p>
                    </div>
                </div>

            </div>
            </div>
            <div class="col-md-9" style="background-color: #f9ffefff;
                                         background-image:url({% static 'volunteer/images/bg_plastic1.png'%});">

            <div class="dynamic-block">
                    {% include 'events_filter.html' %}
                   {% include 'events_result.html' %}
            </div>
            </div>
            </div>

        {% include 'modal_event_register.html' %}
    <svg  width="0" height="0">
	    <defs>
	        <clipPath id="svgPath">
	            <path transform="scale(1.5)" fill="#FFFFFF" stroke="#000000" stroke-width="1.5794" stroke-miterlimit="10" d="m 1.5771027,1.6517761 0,55.8294389 c 0,0 2.009798,14.041225 11.7386873,22.695515 8.444108,7.511418 28.319723,13.893271 28.319723,13.893271 0,0 19.585789,-6.785685 27.542412,-13.118135 9.678786,-7.70307 11.569738,-23.470651 11.569738,-23.470651 l 0,-55.8294389 z"/>
	        </clipPath>
	    </defs>
	</svg>

{% endblock %}





