{% extends "base.html" %}
{% load static %}
{% load volunteer_extras %}
{% load static notifications_tags %}

{% block jscripts %}
    <script src="{% static 'volunteer/js/script.js' %}"></script>
    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    <script src="{% static 'volunteer/js/live-test.js' %}" type="text/javascript"></script>
{% endblock %}






{% block menu_item %}
    <li class="nav-item active">
        <a class="nav-link" href="#">Знайти подію<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'newevent' %}">Організувати подію</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#">Новини</a>
    </li>
{% endblock %}

{% block menu_button %}
    <form action="{% url 'logout' %}">
        <button class="btn text-primary-color dark-primary-color my-2 my-sm-0" type="submit">Вийти</button>
    </form>
{% endblock %}

{% block container %}

    {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' fetch=20 refresh_period=5 %}
    Непрочитані сповіщення: {% live_notify_badge %}
    <!--<button onclick='make_notification()'>Створити сповіщення</button>-->
    <button onclick='mark_all_as_read()'>Позначити усе як прочитане</button>
    {% live_notify_list %}
        <div class="row align-self-center"  style="height: 30vh;">
            <div class="profile_info col-md-4 text-center my-auto" style="margin-top: 5vh !important;">
                {% csrf_token %}
                {% if volunteer.photo %}
                <img  src="{{ volunteer.photo.url }}" style="height: 20vh;">
                {% else %}
                <img  src="{% static 'volunteer/images/user_profile_default.png' %}" style="height: 20vh;">
                {% endif %}
                <h1>{{name}}</h1>
                <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

        <div class="col-md-8">
            <div class="row text-center align-items-center" style="height:8vh;
                                                                    border-style:solid;
                                                                    border-width:1px;
                                                                    border-color:#4CAF50;
                                                                    border-bottom-left-radius: 15px;
                                                                    border-bottom-right-radius: 15px;">
                <div class="col-md-4">
                    <div class="dropdown open">
                        <select id="event-type" class="text-center" url_get = "{% url 'type_filter' %}">
                            <option type_id = "all">Тип</option>
                           {% for type_ev in types_events %}
                                <option type_id = "{{type_ev.id}}">{{ type_ev.type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    Дата
                </div>
                <div class="col-md-4">
                    <input type="text" placeholder="Пошук">
                </div>
            </div >
            <div class="events-container">

                {% for event in events %}

                    <div class="event-block row text-center my-auto align-items-center " style="height:22vh">
                    <div class="col-md-4 text-center my_auto">

                        {% if event.event_photo %}
                            <img src= "{{ event.event_photo.photo.url }}" href="{% url 'event' id=event.id %}" style="height:18vh">
                        {% else %}
                            <img src= "{% static 'volunteer/images/event.jpg' %}" href="{% url 'event' id=event.id %}" style="height:18vh">
                        {% endif %}

                    </div>
                    <div class="col-md-8 info">
                        <div class="row">
                            <div class="col-md-12 align-items-center">
                                <div>
                                    <h2><a href="{% url 'event' id=event.id %}">{{ event.name }}</a></h2>
                                    <p>{{ event.description }}</p>
                                </div>
                            </div>

                        </div>
                            <div class="row">
                                <div class="col-md-12 text-center my-auto">
                                    {% if events_subs|get_item:event.id == 0 %}
                                        <button type="button" class="btn-follow  btn  dark-primary-color text-primary-color" id="follow"  id_event = {{ event.id }}, url_post = "{% url 'follow_event' %}">Слідкувати</button>
                                    {% else %}
                                        <button type="button" class="btn-refollow  btn  dark-primary-color text-primary-color" id="follow"  id_event = {{ event.id }}, url_post = "{% url 'follow_event' %}">Відписатися</button>
                                    {%  endif %}

                                    {% if events_part|get_item:event.id == 0 %}
                                        <button type="button" class="btn-subscribe btn dark-primary-color text-primary-color" id_event = {{ event.id }}, url_post = "{% url 'subscribe_event' %}">Приєднатися</button>
                                    {% else %}
                                        <button type="button" class="btn-resubscribe btn dark-primary-color text-primary-color" id_event = {{ event.id }}, url_post = "{% url 'subscribe_event' %}">Від'єднатися</button>
                                    {% endif %}
                                </div>
                            </div>
                    </div>
                    </div>

                {% endfor %}

            </div>

            </div>

        </div>


{% endblock %}

<div class="row">
    <div class="col-md-12 text-center my-auto"><button type="button" class="btn-follow  btn  dark-primary-color text-primary-color" id="follow"  id_event = {{ event.id }}, url_post = "{% url 'follow_event' %}">Слідкувати</button><button type="button" class="btn-subscribe btn dark-primary-color text-primary-color" id_event = {{ event.id }}, url_post = "{% url 'subscribe_event' %}">Приєднатися</button></div>
                            </div>




