.col-xs-5th-1, .col-xs-5th-2, .col-xs-5th-3, .col-xs-5th-4{
  float: left
  }

.col-xs-5th-5{
  float: left
  width: 100%}

.col-xs-5th-4{
  width: 80%}

.col-xs-5th-3{
  width: 60%}

.col-xs-5th-2{
  width: 40%}

.col-xs-5th-1{
  width: 20%}


@media (min-width: 992px)
  .col-md-5th-1, .col-md-5th-2, .col-md-5th-3, .col-md-5th-4{
    float: left}
  .col-md-5th-5{
    float: left
    width: 100%}
  .col-md-5th-4{
    width: 80%}
  .col-md-5th-3{
    width: 60%}
  .col-md-5th-2{
    width: 40%}
  .col-md-5th-1{
    width: 20%}

