*{
font-family: 'Ubuntu',sans-serif!important;
}
body{
 font-family: 'Ubuntu',sans-serif!important;


}

strong { font-weight: bold; }
li{
    list-style-type: none;
    font-weight: 100;
    font-size: 155%;

}


button:hover{
    cursor:pointer;
}

ul{
     padding-left:0
}


.aboutus{
    font-family: 'Ubuntu',sans-serif!important;
    background-image:url('./images/league_volunteer.png');
    background-position:center;

font-weight: 100;

font-size: 155%;
    background-size:cover;
    height: 94vh;
}


#window{width:40vh;
        height: 50vh;
        margin:30vh auto;
        border: 1px solid #fff;
        border-radius: 10%;
        z-index: 150;
        display: none;
        background: #fff;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

.form{
    width: 35vh;
    margin: 0px auto 20px auto;
    text-align: center;
}
.input{
    width: 33vh;
    padding: 5px;
    margin-bottom: 10px;
}

.close{
    height: 20px;
    margin: 2vh 0 0 36vh;
    cursor: pointer;
}
.close:hover{
    background: #fff;
}
#gray{
    background-color: rgba(1,1,1,0.75);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 100;
}

.border-botom{
    border-bottom-color:#4CAF50;
}

.nvb-style{
    font-family: 'Ubuntu',sans-serif!important;
    background-color: #00bbbbff;
    height: 6vh;
}

.logo{
    height: 6.5vh;
    position: absolute;
    top: 1.1vh;
    left: 6vw;
    z-index: 100
}

@media only screen and (max-width: 600px){
    .logo{
        height: 5.7vh;
        top:1.5vh;
    }

    .slog{
        margin-top:9vh!important;
        text-align:left
    }

    .p-slog{
        font-size:78%!important;
        padding-top:5vh;
        text-align:right;
    }

    .make-task{
        font-size: 124% !important;
        text-align: center;
    }

    .first-li{
        font-size:120% !important;
    }

    li{
        font-size:100% !important;
    }
    .mt10vh {
        margin-top: 7vh !important;
    }

    .golden-cup{
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            margin-top: 3vh !important;
            height: 17vh !important;
            margin-bottom:11vh;

    }
    .mot-text{
        font-size: 135% !important;
    }

    .task-info{
        height:inherit !important;
    }

    .hiw-image{
        height: 9vh !important;
        margin: 2vh auto;
        width: auto !important;
    }

    .how-it-works {
        height: inherit !important;
    }

    .mot-h{
        font-size:220% !important;
        padding-top:0!important;
    }

    .stairs{
        height: 20vh;
    }

    .btn-join{
        margin-left: 0!important;
        margin-right: 0!important;
        margin-top: 0!important;
    }

    .wait-for-you{
        height:inherit!important;
    }

    .step-info{
        font-size: 77%!important;
    }

    .cirle{
        width:18vw!important;
    }

    .img-join{
        width: 57vw!important;
    }

    .join{
    height:inherit!important;
    }

    .question{
        font-size: 105%!important;
    }

    .li-ans{
        font-size: 97%;
    }

    .padding-faq{
        padding-top: 9vh!important;
    }

}

.li-ans{
        list-style: disclosure-closed;
}

.small-superman{
    width: 55vw;
    margin-left: 15vw;
}

.btn-enter{
    font-family: 'Ubuntu',sans-serif!important;
    background-color: rgba(255, 255, 255, .0);
    color: white;
    border-radius: 7px;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    opacity: 0.8;
    font-size: 16px;
    border: 1px solid #fff;
}
.slog{
    font-family: 'Ubuntu',sans-serif!important;
    text-transform: uppercase;
    font-weight: bold;
    color: #fe6900ff;
    margin-top: 12vh;

    font-size: 120%;
}


@media (min-width: 544px) {
  .slog {font-size: 235%;} /*1rem = 16px*/
}

.p-slog{
    font-family: 'Ubuntu',sans-serif!important;
    font-size: 120%;
    font-weight: bold;
    color: #00bbbbff;
}


.task-info{
    height:55vh;
}

.golden-cup{
    margin-top: 11vh;
    height: 25vh;
}

.category{
    height:45vh;
}

.mt10vh{
    margin-top:10vh;
}

.make-task{
    font-family: 'Ubuntu',sans-serif!important;

    margin:0!important;
}

/* Portrait tablets and medium desktops */
media (min-width: 992px){
    font-size: 306%!important;
}

.first-li{
    font-family: 'Ubuntu',sans-serif!important;
    margin-top: 2vh;
    margin-bottom: 1.4vh;
    font-size: 180%;
    font-weight: 100;
    text-transform: uppercase;
    color: #80b025ff;
}

.img-category{
    height:15vh;
    margin-left:2vh;
    margin-right:2vh;
}

@media (min-width: 544px) {
  .img-category {height:18vh;} /*1rem = 16px*/
}

.how-it-works{
    height: 40vh;
}

.stairs{
    background: linear-gradient(to bottom, #baf2faff 0%, #ffffff 100%);
}

.hiw-image{
    width: 22vw;
}

.superman{
    height:50vh;
}
.step{
    height:10vh;
    background: #ffffff ;
}

.achievement-image{

height:14vh;

}

.step-info{
    font-size: 134%;
}

.cirle{
    height: auto;
    margin: auto;
    width: 14vw;
}

.wait-for-you{
    height:40vh;
}

.join{
    height :60vh;
}

.img-join{
    width :44vw;
    animation: dirizable 3s infinite;
}

.btn-join{
    font-family: 'Ubuntu',sans-serif!important;
    height: 7vh;
    background-color: #cb2054ff;
    color: white;
    font-size: 162%;
    font-weight: bold;
    border-radius: 16px;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-top: -1vh;
}

.mot-text{
    font-family: 'Ubuntu',sans-serif!important;
    font-size: 185%;
    font-weight: bold;
    color: #fe6900dc;
}

.mot-h{
    font-family: 'Ubuntu',sans-serif!important;
    font-size: 311%;
    padding-top: 11vh;
    padding-left: 8vh;
    color: #85d040ff;
}

.faq{
    height:60vh;
}

.volunteer-name{
    font-family: 'Ubuntu',sans-serif!important;
    font-size: 191%;
    font-weight: bold;
    margin:0;
}
h4.volunteer-name{
    position: relative;
    display: inline-block;
}
.setting-img{
    /* height: 4vh;
    position: absolute;
    bottom: 1.1vh; */
}
.setting-img:hover{
    cursor:pointer;
}

.first-name{
    margin-top:5vh;
}

.ribbon{

    width:70%;
    background-color: white;
    margin:auto;
    position:relative;
    border-radius: 4px;
    height:100%;
    font-size: larger;
}

.ribbon:after{
    content: '';
    position:absolute;
    top:1.5vh;
    right:-2.3vh;
    border-left: 1.8vh solid #fff;
    border-right: 1.8vh solid transparent;
    border-top: 1.8vh solid #fff;
    border-bottom: 1.8vh solid #fff;
}


.ribbon:before{
    content: '';
    position:absolute;
    top:1.5vh;
    left:-2.3vh;
    border-left: 1.8vh solid transparent;
    border-right: 1.8vh solid #fff;
    border-top: 1.8vh solid #fff;
    border-bottom: 1.8vh solid #fff;
}

.user-league-info{
    width:37%;
    position: relative;
}

.league-logo{
    z-index:200!important;
    margin-right:-2vh;
    z-index: 100;
    margin-right: -6%;

}

.photo-frame{
    z-index:100;
}

#coloredcolumn{
    height: inherit;
    position: absolute
    background-color: #3A3A3A;
    padding: 0;
    margin: 0;
    }

.profile_info{
    background-color: #84c754;
    min-height:94vh;
    background-attachment: fixed;
}


.progress-league{
    background-color:#65f0fb;
    height:2vh;
    float:left;
    position:absolute;
}

.main-progress-bar{
    display: block;
    height: 2vh;
    width: 32vh;
    margin: auto;
    margin-bottom: 2vh;
}

.profile-image{
    margin-bottom:2vh;
}

.item-menu{
    margin-bottom: 0.7vh;
    font-size: 110%;
    word-spacing: 4px;
}

.item-menu:hover{
    cursor:pointer;
}


.profile-menu-item{
    padding:0;
}

.own-progress-bar{
  height: 3vh;
  width: 100%;
  background-color:#fff;
  margin-bottom: 4vh;
  border-radius: 7px;
}

.own-progress-league{
    background-color: #65f0fb;
    height: 3vh;
    float: left;
    position:relative;
    border-radius: 7px;

}
.progress_state{
  float:left;
  position:absolute;
  right: -2vh;
  top: -0.2vh;
  height:138%;
}

.img_progress_state{
    height:inherit;
}
.quant-ach{
    position: absolute;
    left: 1.5vh;
    top: 0.8vh;
}

div.achievement-item{
    border-radius: 14px;
    height:90%;
    width:90%;
}


div.unlocked-achievement{
    color: #00d6ffff;
}
h5.unlocked-achievement{
    padding: 10%;
    font-size: 110%;
    margin:0;

}

p.unlocked-achievement{
    font-size: 93%;
    padding-left: 10%;
    padding-right: 10%;
}
h5.locked-achievement{
    color: #006363ff;
    padding: 10%;
    font-size: 105%;
    margin:0;
    height:10vh
}

div.locked-achievement{
    background-color: #d7e2e2ff;
}


img.unlocked-achievement{
    margin-bottom: 9%;
    height:33%;
}

.buy-achieve{    width: 80%;
    height: 8%;
    border-radius: 11px;
    border: 1px dashed #838383ff;
    margin-top: 3vh;
    color: #e9832eff;
}

.currency-image{
    height:5.3vh;

}

.currency-value{
    vertical-align: bottom;
    color: #e3a002ff;
}


/* Event-edit */

.edit-event-container{

}

.event-edit-name{
    width: 50%;
    text-align: center;
    height: 5vh;
    font-size: 155%;
}

.event-block{
    height: 22vh;
    border-bottom: 3px dashed #00babaff;
}

.event-name{
    color: #000;
    font-size: 130%;
    padding-top: 3%;
}

.notification-name{
    color: #000;
    font-size: 130%;
    padding-top: 3%;
}
.event-name:hover{
    cursor:pointer;
}
.event-description{
    font-size: 91%;

}



.full-row{
    height:100%
}

.task-or-event-image{
            margin-bottom: 15%;
            max-width: 38%;
            height: auto;
            width: auto\9;
            margin-right: 10%;
}

.event-status-info{
    font-weight:bold;
    color:#fff;
}


.outer{
    width: 30%;
    position: relative;
    display: inline-block;
    height:100%;
}

.padding-0{
    padding:0;
}

.img-status{
    width:70%;
    margin:0 auto;
    position: absolute;
    left: 15%;
    top:5%;
}

.inner {
  position: absolute;
  bottom: 5%;
  left: 50%;

}

.rotate {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

.event-navigation{
    height:10vh;
    border-bottom: 2px solid #00babaff;
    background-color: #fff;
}

.select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px dotted #999898ff;
    padding-right: 5%;
    border-radius: 5px;
    background-color: #fff;
    background-image: url('./images/select.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 30%;
    background-origin: content-box;
    padding-left: 5%;
    text-transform: lowercase;
    height: 3.5vh;
    width: 11vw;
    font-size:large;
}

.filter_event_task{
    max-width:20%;
    height:auto;
}


.nav-add{
    max-width:30%;
    height: auto;
    margin-right: 10%;
}

.what-img{
    width: 2.5vh;
    height:auto;
}

.category-filter{
    padding-left:10%;
}

.btn-follow{
        background-color: #71c837ff;
}
.btn-subscribe{
    background-color:#ff7f1aff;
    border-bottom-right-radius: 25px!important;
    border-top-right-radius: 25px!important;
    padding-right: 7%!important;
}
.event-button{
    height: 3.7vh;
    font-size: 110%;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 0 4%;
    position:relative;
}

.event-item-info{
    height:75%
}

.img-curr-in-button{
    height: 109%;
    position: absolute;
    right: -1%;
    top: -5%;
}

.btn-event-edit{
        background-color:gray;
        border-bottom-right-radius: 25px!important;
        border-top-right-radius: 25px!important;
        padding-right: 7%!important;
    }

 .page-item{
    border:3px dashed #00babaff;
    border-top:none;
 }
 .page-item:first-child{
    border-right:none;
 }

 .category_event{
    max-width:75%;
    height:auto;
    margin-top:8%;
    margin-right:8%;
 }

 .photo-user{
    -webkit-clip-path: polygon(2% 1%, 2% 62%, 9% 78%, 23% 89%, 36% 95%, 50% 100%, 63% 95%, 79% 89%, 91% 78%, 97% 64%, 98% 2%);
    clip-path: polygon(2% 1%, 2% 62%, 9% 78%, 23% 89%, 36% 95%, 50% 100%, 63% 95%, 79% 89%, 91% 78%, 97% 64%, 98% 2%);
    position: absolute;

 }

 .ep_event_task{
    max-height: 86%;
 }

 .ep_event_name{
 }

 .status-button{
    height:22%;
    border-bottom-left-radius: 25px!important;
    border-top-left-radius: 25px!important;
    padding: 0 8%;
 }

 .img-status-btn{
    height: 80%;
    position: absolute;
    left: 1%;
    top: 11%;
 }

 .ep-event-info{
    padding-top: 5%;
    padding-left:6%;
 }

 .ep-event-description{
        height: 20vh;
 }


 .selected_event_task{
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
 }

 .reg-logo{
    height: 45%;
    margin: 0 auto;
 }

 .center-personal{
     margin: auto auto;
     text-align:center;

 }

 .input-reg{
    border:none;
    border-bottom: 1px solid #999898ff;
 }

  .input-reg::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #999898ff;
    opacity: 1; /* Firefox */
}

 .input-reg:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999898ff;
}

 .input-reg::-ms-input-placeholder { /* Microsoft Edge */
    color: #999898ff;
}

.soc-icon{
    height:6vh;
}

.task-or-event-images{
    height:9vh;
    margin-right: 2vw;
    margin-left: 3vw;
}
.task-or-event-images{
    cursor:pointer;
}
.text-describe{
    padding: 0 3vw;
    margin-top: 5vh;
}

.map-contailer{
    position: absolute;
    height: 50vh;
    width: 48vw;
    left: -7vw;
    top: 5vh;
    z-index:-1;
}

#not_main{
    height: 100%;
}

.padding-faq{
    padding-top:12vh;
}

.answer{
    padding-left: 7vw;
}
.question:hover{
    cursor:pointer;
}

#event-type{
    width: 85%;
}

#event-status{
    width: 80%;
}

.ribbon-div{
    height:4vh;
}

.notif-quant{
    height: 3vh;
    width: 3vh;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.6;
    float: right;
    font-weight:bold;
}

.notifications{
    float: left;
}

.user-name{
    margin-bottom:3vh;
}



svg{

    animation: dirizable 4s infinite;
}

@keyframes dirizable{
    50%{
        transform: translateY(10%)
    }

}

.flagup{
    opacity:0;
    animation: blum 0.7s infinite;
}
@keyframes blum{
    50%{
        opacity: 1;
    }

}
.flagdown{
    opacity:1;
    animation: blim 0.7s infinite;}


@keyframes blim{
    50%{
        opacity: 0;
    }

}

.btn-app-task{
    background-color:#00bbbbff!important;
    border-bottom-right-radius: 25px !important;
    border-top-right-radius: 25px !important;
    padding-right: 7% !important;
}

.re-btn-app-task{
    background-color:#00bbbbff!important;
    border-bottom-right-radius: 25px !important;
    border-top-right-radius: 25px !important;
    padding-right: 7% !important;
}