*{
font-family: 'Ubuntu',sans-serif !important;
}

html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}

body{
    overflow-y: scroll !important;
}
.wrapper{
    overflow: hidden !important;

}
.row{
    margin: 0 !important;

}

.btn-div{
    margin-bottom: 30px;
}
.menu-profile{
    margin-bottom: 30px;
}
.change-league{
    font-size:16px!important;
    z-index: 50;
}
body{
font-family: 'Ubuntu',sans-serif !important;


}

.form-check-label{
    font-size: 16px;
    padding: 5px;
}

.category-image-ev{
    max-width: 150px;
    width:100%;
    height:auto!important;
    margin: 20px;
}

.user-name{
    display: inline-block;
    cursor: default !important;
    margin: 5px !important;
}

.task_price{
    display: inline-block;
    padding-left: 7px;
    font-size: 16px;
    font-weight: bold;
    color: goldenrod;}

strong { font-weight: bold; }
li{
    list-style-type: none;
    font-weight: 100;
    font-size: 12px;

}


button:hover{
    cursor:pointer;
}

ul{
     padding-left:0
}


.aboutus{
    font-family: 'Ubuntu',sans-serif !important;
    background-image:url('./images/league_volunteer.png');
    background-position:center;

font-weight: 100;

font-size: 155%;
    background-size:cover;
    height: 94vh;
}


#window{width:40vh;
        height: 50vh;
        margin:30vh auto;
        border: 1px solid #fff;
        border-radius: 10%;
        z-index: 150;
        display: none;
        background: #fff;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
.event-description{
    height: 70px;
    font-size: 14px;

}



@media screen and (max-width: 930px) {
    .category_event_edit {
        display: none !important;
    }
    .edit-event-form #id_name {
        padding: 5px 10px !important;
        font-size: 18px !important;
        width: 300px !important;
    }
    .event-description{
        display: none !important;

    }
}
@media screen and (max-width: 355px) {
    .nav-add{
        width: 30px!important;

    }
    .filter-setting{
        padding-left: 10px;
    }

}

.form{
    width: 35vh;
    margin: 0px auto 20px auto;
    text-align: center;
}
.input{
    width: 33vh;
    padding: 5px;
    margin-bottom: 10px;
}

.close{
    height: 20px;
    margin: 2vh 0 0 36vh;
    cursor: pointer;
}
.close:hover{
    background: #fff;
}
#gray{
    background-color: rgba(1,1,1,0.75);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 100;
}

.border-botom{
    border-bottom-color:#4CAF50;
}

.nvb-style{

    background-color: #00bbbbff;
    height: 50px;

}

.logo{
    height: 52px;
    position: absolute;
    top: 10px;
    left: 6vw;
    z-index: 100;
}

/* for mobile */

@media only screen and (max-width: 576px) and (min-height: 550px){

        .slog{
            margin-top:9vh!important;
        }
        .p-slog{
            padding-top:5vh;

        }



}


@media only screen and (max-height: 550px){

        .slog{
            margin-top:4vh!important;
        }
        .p-slog{
            padding-top:3vh;
        }


}

@media only screen and (max-width: 576px) {
    .logo{
        height: 36px;
        position: absolute;
        top: 10px;
        left: 6vw;
        z-index: 100
    }
    .category_event_edit {
        display: none;
    }
    .slog{
        text-align:left;
        font-size: 8vw !important;
        padding-left: 3vw;
    }

    .p-slog{
        font-size: 5vw!important;
        text-align:right;
        padding-right: 2vw;
    }

    .make-task{
        font-size: 5vw !important;
        text-align: center;
    }

    .first-li{
        font-size: 6vw !important;
    }

    li{
        font-size:3.9vw!important;
    }
    .mt10vh {
        margin-top: 7vh !important;
    }

    .golden-cup{
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            margin-top: 3vh !important;
            height: 17vh !important;
            margin-bottom:11vh;

    }
    .mot-text{
        font-size: 6vw !important;
    }

    .task-info{
        height:auto !important;
    }

    .hiw-image{
        height: 9vh !important;
        margin: 2vh auto;
        width: auto !important;
    }

    .how-it-works {
        height: inherit !important;
    }

    .mot-h{
        font-size:7.3vw !important;
        padding-top:0!important;
    }

    .stairs{
        height: 20vh;
    }

    .btn-join{
        margin-left: 0!important;
        margin-right: 0!important;
        margin-top: 0!important;
        font-size:5vw!important;
    }

    .wait-for-you{
        height:auto!important;
    }

    .step-info{
        font-size: 3.9vw!important;
    }

    .cirle{
        width:18vw!important;
    }

    .img-join{
        width: 57vw!important;
        margin:10vh auto;
    }

    .join{
    height:auto!important;
    }

    .question{
        font-size: 4vw!important;
    }

    .li-ans{
        font-size: 97%;
    }

    .padding-faq{
        padding-top: 9vh!important;
    }

    #sidebar{
        width:100vw!important;
        display:none;
        min-height:100%;
        box-shadow: 0px -6px 10px grey;
        z-index:100;
    }



    .ribbon{
        width:58%!important;
    }

    .first-name{
        margin-top: 20px !important;
        margin-bottom: 0;
    }



    .own-progress-bar{
        margin-bottom:3vh!important;
    }

    .item-menu{
        margin-bottom: 0 !important;

    }


    .inner{

    }

    .event-status-info{
        font-size:14px!important;
        line-height:1!important;
    }

    .category-icon{
        height:13vh!important;
    }

    .event-item-info{
        height:inherit!important;
    }

    .info{
        margin:0px 10px important;
        padding-left:7vw!important;
    }

    .event-button{

        font-size:12px !important;

        min-width: 145px;
        border-top-right-radius: 25px !important;
        border-bottom-right-radius: 25px !important;
        width:90%;
        height: 24px!important;
    }

    .pagination-list{
        margin:0 auto;
    }

    .buy-achieve{
        height:11%!important;
        margin: 3vh 0!important;
    }

    .ep_event_task{
        width:100px!important;
        height:auto!important;
    }

    .ep_event_name{
        font-size:16px;
    }

    .faq{
        height:auto!important;
    }

    .padd-mobile-left{
        padding-left:9vw;
    }

    .padd-mobile-right{
        padding-right:8vw;
    }


    .category-image-ev{
        width:100%;
        height:auto!important;
        margin: 20px;
    }

    .event-name{
        font-size: 16px!important;
    }



    .event-image-holder{
        text-align:left!important;
        padding:0;

    }

    .
    .currency-image{
        width:13.2vw!important;
    }
    .btn-enter{
        height:4vh!important;
        font-size:2.6vh!important;
    }

    .img-centerua{
        width: 31vw !important;
        margin-bottom: 6vh !important;
        margin-top: 3vh;
    }

    .img-chesno{
        width: 28vw !important;
        margin-bottom: 6vh !important;
        margin-top: 3vh;
    }
    div.achievement-item {
        height:auto!important;
        margin: 3vh 0!important;
    }

    img.unlocked-achievement{
        width:40vw!important;
    }



}


/* for tables*/

@media only screen and (max-width: 767px) and  (min-width: 576px){
    .category_event_edit {
        display: none;
    }

    .task-or-event-image{
        display: none !important;
    }

    .slog{
        font-size:7vw!important;
        padding-left:2vw;
        padding-right:2vw;
        margin-top:6vh!important;
    }
    .p-slog{
        font-size:4vw !important;
        text-align: right;
        padding-right:3vw;
    }

    .task-info{
        height:auto!important;
    }

    .make-task{
        font-size:6vw!important;
        text-align:right!important;
        padding-right: 5vw;
        padding-top: 11vw;
    }

    .golden-cup{
        height:auto!important;
        width:120%;
        margin-bottom:7vh;
    }

    .first-li{
        font-size: 4vw!important;
    }

    li{
        font-size:3vw!important;
    }

    .padd-mobile-left{
        padding-left: 4vw;
        margin-bottom: 5vh;
    }

    .padd-mobile-right{
        padding-left: 7vw;
        margin-bottom: 5vh;
    }

    .hiw-image{
        height:12vh;
        width:auto!important;
    }
    .mot-text{
        font-size:4vw!important;
    }

    .p-step{
        height:10vh;
        font-size:3vw;
        margin:0;
    }

    .first-step{
        padding-left: 2vw;
    }

    .padding-faq{
        margin-top: 6vh!important;
        padding-top:0!important;

    }

    .padding-faq > h3{
        font-size:3.5vw!important;
    }

    .wait-for-you{
        height:20vh!important;
    }

    .faq{
        height:auto!important;
    }

    .btn-join{
        width: 42vw !important;
        font-size: 4vw!important;
        height: 6vh!important;
        margin:0!important;
        margin-top:2vh!important;
    }









    .currency-image{
        width:8vw!important;
        height:auto!important;
    }

   .menu-profile{
    margin-top:2vh;
   }



    .notif-quant{
        height:30px important;
        width: 30px important;
    }

    .nav-add{
        width: 60px!important;
    }

    .filter-setting{
        font-size:3vw;
    }

    .img-status{
        width:6vw!important;
    }

    .event-status-info{
        font-size: 14px!important;
        line-height:1!important;
    }

    .task-or-event-image{

        max-width:9vw!important;
    }


    .category-image-ev{
        width:100%;
        height:auto!important;

    }

    .event-name{
        font-size: 16px
    }



    .event-item-info{
        height:auto!important;
    }

    .info{
        margin:auto!important;
    }

    .ach-container{
        height:auto!important;
        margin: 2vh 0;
    }

    .locked-achievement{
        height:auto!important;
        font-size:16px!important;
    }

    div.achievement-item{
        height:100%!important;
    }
}


@media only screen and (max-width: 1054px) and  (min-width: 768px){
    .list-group-item {
          columns: 2;
          -webkit-columns: 2;
          -moz-columns: 2;
        }
    .slog{
        font-size: 5vw!important;
        margin-top:6vh!important;
        padding-left:2vw;
    }
    .section{
       

    }
    .fp-slidesNav ul {
        display: none;
    }

    .p-slog{
        font-size:3vw!important;
        text-align:left;
        padding-left:2vw;
    }

    .task-info{
        height:auto!important;
    }

    .golden-cup{
        height:auto!important;
        width:100%;
    }

    .make-task{
        font-size:3.5vw!important;
    }

    .first-li{
        font-size:2.8vw!important;
    }

    li{
        font-size: 2vw!important;
    }

    .mot-text{
        font-size:3.5vw!important;
    }

    .padd-mobile-right{
        margin-bottom:3vh!important;
    }

    .hiw-image{
        width:auto!important;
        height:14vh;
    }

    .btn-join{
        font-size: 2vw !important;
        margin: 0!important;
        width: 100%;
        height: 5vh!important;
    }

    .achievement-image{
        height:11.3vh!important;
    }

    .how-it-works{
        height:auto!important;
        margin-bottom:6vh!important;
    }

    .mot-h{
        margin:0!important;
        font-size:5vw!important;
    }

    .p-step{
        margin:0!important;
        height:10vh!important;
    }
    .step-info{
        font-size:2.2vw!important;
    }

    .wait-for-you{
        height:auto!important;
    }
    .padding-faq{
        padding-top:6vh!important;
    }

    .faq{
        height:auto!important;
    }bt

    .img-join{
        margin-top:15vh!important;
        margin-bottom:10vh!important;
    }




    .curr-quant{
        font-size:12p!important;
    }

    .currency-image{
        margin:0 0.6vw ;
        height:auto!important;
        width:4.5vw;
    }

    .item-menu{
        font-size:2.2vw!important;
    }
    .nav-add{
        width: 35px;

    }

    #event-type{
        font-size:14px;
        width: 100px !important;
    }

    .filter_event_task{

        width: 30px;
    }
    #event-status{
        padding-right: 10px !important;
        font-size: 14px !important;
        width: 70px!important;
    }
     #event-city{
        font-size: 14px !important;
        width:70px!important;
    }
    .category-filter{
        padding-left:3%!important;
    }
    .what-img{
        width: 20px!important;
        cursor: pointer;
    }
    .category-image-ev{
        height:auto!important;
        width: 100%;
    }

    .select{
        height:auto!important;
        padding: 2% 5% !important;
    }


    .btn-event-edit {
        padding-right:50px!important;
    }
    .btn-subscribe{
       padding-right:12%!important;
    }
    .task-or-event-image{
        max-width:none!important;
        width:6vw;
    }



    .ach-container{
        padding:0!important;
    }
    div.achievement-item{
        margin: 1vh 0;
    }

    .buy-achieve{
        margin:3vh 0!important;
        font-size:1.8vw;
        height:auto!important;
    }

    img.unlocked-achievement {
        height: 11vw!important;
    }
    h5.locked-achievement {
        height: auto!important;

        margin-bottom: 10px;
    }

    .change-league{
        font-size:16px!important;
        z-index: 50;
    }
    .unlock-ach-container {
        padding:0!important;
    }
    .currency-image{
        width:5vw!important;
    }
}

.li-ans{
        list-style: disclosure-closed;
}

.small-superman{
    width: 55vw;
    margin-left: 15vw;
}

.btn-enter{

    background-color: rgba(255, 255, 255, .0);
    color: white;
    border-radius: 7px;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    opacity: 0.8;
    font-size: 16px;
    border: 1px solid #fff;
}
.slog{
    font-family: Open Sans;
    text-transform: uppercase;
    font-weight: bold;
    color: #fe6900ff;
    margin-top: 11vh;

    font-size: 6vh;
}

.p-slog{
    font-family: Open Sans;
    font-size: 3.4vh;
    font-weight: bold;
    color: #00bbbbff;
}


.task-info{
    height:55vh;
}

.golden-cup{
    margin-top: 11vh;
    height: 25vh;
}

.category{
    height:45vh;
}

.mt10vh{
    margin-top:10vh;
}

.make-task{
    font-family: Open Sans;
    font-size:4vh;
    margin:0!important;
}


/* Portrait tablets and medium desktops */
@media (min-width: 992px){
    .btn-subscribe {
    padding-right: 50px!important;
    }
    .list-group-item {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
}
@media (max-width: 1300px){
    .outer {
    width: 40px!important;
    }
    .img-status {
        width:3vw!important;
    }
}

.first-li{
    font-family: Open Sans;
    margin-top: 2vh;
    margin-bottom: 1.4vh;
    font-size: 3.2vh;
    font-weight: 100;
    text-transform: uppercase;
    color: #80b025ff;
}

.img-category{
    height:15vh;
    margin-left:2vh;
    margin-right:2vh;
}

@media (min-width: 544px) {
  .img-category {height:18vh;} /*1rem = 16px*/
}

.how-it-works{
    min-height: 40vh;
}

.stairs{
    background: linear-gradient(to bottom, #baf2faff 0%, #ffffff 100%);
}

.hiw-image{
    width: 22vw;
}

.superman{
    min-height:50vh;
}
.step{
    height:10vh;
    background: #ffffff ;
}

.achievement-image{

height:14vh;

}

.step-info{
    font-size: 134%;
}

.cirle{
    height: auto;
    margin: auto;
    width: 14vw;
}

.wait-for-you{
    height:40vh;
}

.join{
    height :60vh;
}

.img-join{
    width :44vw;
    animation: dirizable 3s infinite;
}

.btn-join{
    font-family: Open Sans;
    height: 7vh;
    background-color: #cb2054ff;
    color: white;
    font-size: 162%;
    font-weight: bold;
    border-radius: 16px;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-top: -1vh;
}

.mot-text{
    font-family: Open Sans;
    font-size: 2.9vh;
    font-weight: bold;
    color: #fe6900dc;
}

.mot-h{
    font-family: Open Sans;
    font-size: 5.8vh;
    padding-top: 11vh;
    padding-left: 8vh;
    color: #85d040ff;
}

.faq{
    height:60vh;
}

.volunteer-name{
    font-size: 26px !important;
    font-weight: 900;
}
h4.volunteer-name{
    position: relative;
    display: inline-block;
}
.setting-img{
    /* height: 4vh;
    position: absolute;
    bottom: 1.1vh; */
}
.setting-img:hover{
    cursor:pointer;
}

.first-name{
    margin-top: 50px;
    margin-bottom: 0;
}

.ribbon{

    width:70%;
    background-color: white;
    margin:auto;
    position:relative;
    border-radius: 4px;
    height:30px;
    font-size: larger;
}

.ribbon:after{

    content: '';
    position:absolute;
    top: 10px;
    right:-20px;
    border-left: 14px solid #fff;
    border-right: 14px solid transparent;
    border-top: 14px solid #fff;
    border-bottom: 14px solid #fff;
}


.ribbon:before{
    content: '';
    position:absolute;
    top: 10px;
    left:-20px;
    border-left: 14px solid transparent;
    border-right: 14px solid #fff;
    border-top: 14px solid #fff;
    border-bottom: 14px solid #fff;
}

.user-league-info{
    width:37%;
    position: relative;
}

.league-logo{
    z-index:200!important;
    margin-right:-2vh;
    z-index: 100;
    margin-right: -6%;

}

.photo-frame{
    z-index:100;
}

#coloredcolumn{
    height: inherit;
    position: absolute
    background-color: #3A3A3A;
    padding: 0;
    margin: 0;
    }

.profile_info{
    background-color: #84c754;
    min-height:94vh;
    background-attachment: fixed;
}


.progress-league{
    background-color:#65f0fb;
    height:2vh;
    float:left;
    position:absolute;
}

.main-progress-bar{
    display: block;
    height: 2vh;
    width: 32vh;
    margin: auto;
    margin-bottom: 2vh;
}



.item-menu{
    margin-bottom: 0.7vh;
    font-size: 110%;
    word-spacing: 4px;
    margin-left: 50px;
    line-height: 30px;
}

.item-menu:hover{
    cursor:pointer;
}


.profile-menu-item{
    padding:0;
}

.own-progress-bar{
  height: 25px;
  width: 75%;
  background-color:#fff;
  margin: 35px auto !important;

  border-radius: 7px;
}

.own-progress-league{
    background-color: #65f0fb;
    height: 25px;
    float: left;
    position:relative;
    border-radius: 7px;

}
.progress_state{
  float:left;
  position:absolute;
  right: -15px;
  top: -5px;

}

.img_progress_state{
    height:inherit;
}
.quant-ach{
    position: absolute;
    left: 13.5px;
    top: 6px;
}

div.achievement-item{
    border-radius: 14px;
    height:350px;
    margin-top: 30px;

    width:90%;
}


div.unlocked-achievement{
    color: #00d6ffff;
}

p.unlocked-achievement{
    font-size: 16px;
    padding: 14px 10px;
    margin:0;
    margin-bottom: 10px;

}

p.unlocked-achievement-text{
    font-size: 93%;
    padding-left: 10%;
    padding-right: 10%;
}
p.locked-achievement{
    font-size: 16px;
    color: #006363ff;
    padding: 14px 10px;
    height: 60px;
    margin:0;
    margin-bottom: 10px;

}

img.locked-achievement{
    width: 80px;
}

div.locked-achievement{
    background-color: #d7e2e2ff;
}


img.unlocked-achievement {
    width: 90%;

    height: auto;
}

.buy-achieve{    width: 80%;
    border-radius: 11px;
    border: 1px dashed #838383ff;
    margin-top: 3vh;
    color: #e9832eff;
    padding: 0.2vh 0;
}

.currency-image{
    width: 50px;
    margin: 0 2px;

}
.curr_quat {
    margin-bottom: 10px;
}



.currency-value{
    vertical-align: bottom;
    color: #e3a002ff;
}


/* Event-edit */

.edit-event-container{

}

.event-edit-name{
    width: 50%;
    text-align: center;
    height: 5vh;
    font-size: 155%;
}

.event-block{

    border-bottom: 2px dashed #00babaff;
    padding-top:0!important;
}

.event-name{
    color: #000;
    font-size: 20px;
    margin-bottom: 10px;
    padding-top: 20px;
}

.notification-name{
    color: #000;
    font-size: 130%;
    padding-top: 3%;
}
.event-name:hover{
    cursor:pointer;
}




.full-row{
    height:100%
}

.task-or-event-image{
            margin-bottom: 15%;
            max-width: 38%;
            height: auto;
            width: auto\9;
            margin-right: 10%;
}

.event-status-info{
    font-size: 14px;
    font-weight:bold;
    color:#fff;
    line-height:1!important;
}



.outer{
    width: 60px;
    position: relative;
    display: inline-block;
    height: 100%;
}

.padding-0{
    padding:0;
}

.img-status{
    width:70%;
    margin:0 auto;
    position: absolute;
    left: 15%;
    top:5%;
}

.inner {
  position: absolute;
  top: 60%;
  left: 60%;
}

.rotate {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

.event-navigation{
    box-shadow: 1px 1px 10px #c4c4c4;
    height: 85px;
    z-index: 50;

    background-color: #fff;
}

.select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px dotted #999898ff;
    padding-right: 5%;
    border-radius: 5px;
    background-color: #fff;
    background-image: url('./images/select.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 30%;
    background-origin: content-box;
    padding-left: 5%;

    height: 3.5vh;
    width: 11vw;

}

.filter_event_task{
    max-width: 50px;
    height:auto;
}


.nav-add{
    max-width: 40px ;
    height: auto;
    margin-right: 15px;
}

.what-img{
    width: 20px;
    height:auto;
    cursor: pointer;
}

.category-filter{
    padding-left:10%;
}

.btn-follow{
        background-color: #71c837ff;
}

.btn-refollow{
    background-color: #71c837ff;
    opacity:0.7;
}

.btn-subscribe{
    background-color:#ff7f1aff;
    border-bottom-right-radius: 25px!important;
    border-top-right-radius: 25px!important;
    padding-right: 50px!important;
}

.btn-resubscribe{
    background-color:#ff7f1aff;
    opacity:0.7;
}
.event-button{
    height: 32px;

    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 0 30px;
    position:relative;
}

.event-item-info{

}

.img-curr-in-button{
    height: 109%;
    position: absolute;
    right: -1%;
    top: -5%;
}

.btn-event-edit{
        background-color:gray;
        border-bottom-right-radius: 25px!important;
        border-top-right-radius: 25px!important;
        padding-right: 40px!important;
    }

 .page-item{
    border:2px dashed #00babaff;
    border-top:none;
    border-left:none;
 }
 .page-item:first-child{
    border-left:2px dashed #00babaff;
 }

 .category_event{
    width: 190px;
    max-width:75%;
    height:auto;

 }

  .category_event_edit{
    width: 150px;
    height:auto;

 }

 .photo-user{
    -webkit-clip-path: polygon(3% 2%, 5% 42%, 8% 55%,13% 66%, 18% 75%, 27% 85%, 40% 95%, 50% 100%,60% 95%, 73% 85%,82% 75%, 87% 66%,92% 55%, 95% 42%, 98% 2%);
    clip-path: polygon(3% 2%, 5% 42%, 8% 55%,13% 66%, 18% 75%, 27% 85%, 40% 95%, 50% 100%,60% 95%, 73% 85%,82% 75%, 87% 66%,92% 55%, 95% 42%, 98% 2%);
    position: absolute;

 }

     .photo-user {
        width: 125px !important;
        left: 60px !important;
        height: 115px !important;
        top: 45px;
    }

 .ep_event_task{
    width: 100%;
    max-width: 80px;

 }

 .ep_event_name{
    font-size: 24px;
 }

 .ep_event_reg_date{
    font-size: 14px;
    color: gray;
    padding-left: 4px;
 }

 .status-button{
    height: 28px;
    border-bottom-left-radius: 25px!important;
    border-top-left-radius: 25px!important;
    padding:0 15px 0 35px !important;
    font-weight: 600;
    width: max-content;
 }

 .img-status-btn{
    height: 23px;
    position: absolute;
    left: 2px;
    top: 2.3px;
 }

 .ep-event-info{
    padding-top: 30px;
    padding-left: 30px;
 }

 .ep-event-description{

    margin: 20px 0 ;
    }
 .ep-event-addition-info{

    margin: 10px 0 ;
    }

 .selected_event_task{
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
 }

 .reg-logo{
    height: 40px;
    margin: 0 auto;
 }

 .center-personal{
     margin: auto auto;
     text-align:center;

 }

 .input-reg{
    border:none;
    border-bottom: 1px solid #999898ff;
 }

  .input-reg::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #999898ff;
    opacity: 1; /* Firefox */
}

 .input-reg:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999898ff;
}

 .input-reg::-ms-input-placeholder { /* Microsoft Edge */
    color: #999898ff;
}

.soc-icon{
    height:50px;
    margin: 20px 10px;
}

.task-or-event-images{
    height: 60px;
    margin-bottom: 10px;
}
.task-or-event-images:hover{
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    cursor:pointer;
}


.text-describe{
    padding: 0 3vw;
    margin-top: 5vh;
}

.map-contailer{
    position: absolute;
    height: 50vh;
    width: 48vw;
    left: -7vw;
    top: 5vh;
    z-index:-1;
}

#not_main{
    height: 100%;
}

.padding-faq{
    padding-top:12vh;
}

.answer{
    padding-left: 7vw;
}
.question:hover{
    cursor:pointer;
}

#event-type{
    width: 150px;
    height: auto;
}

#event-status{
    width: 120px;
    height: auto;
}
#event-city{
    width: 130px;
    height: auto;
}
.ribbon-div{
    height:30px;
}

.notif-quant{
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.6;
    float: right;
    font-weight:bold;
    margin-right:50px;
}

.notifications{
}

label[for=id_city]{

}




svg{

    animation: dirizable 4s infinite;
}

@keyframes dirizable{
    50%{
        transform: translateY(10%)
    }

}

.flagup{
    opacity:0;
    animation: blum 0.7s infinite;
}
@keyframes blum{
    50%{
        opacity: 1;
    }

}
.flagdown{
    opacity:1;
    animation: blim 0.7s infinite;}


@keyframes blim{
    50%{
        opacity: 0;
    }

}

.btn-app-task{
    background-color:#00bbbbff!important;
    border-bottom-right-radius: 25px !important;
    border-top-right-radius: 25px !important;
    padding-right: 50px !important;
}

.re-btn-app-task{
    background-color:#00bbbbff!important;
    border-bottom-right-radius: 25px !important;
    border-top-right-radius: 25px !important;
    padding-right: 50px !important;
}

.wrapper {
    display: flex;
    width: 100%;
    min-height: 100%;
    align-items: stretch;
    overflow-x:hidden;
}


.currency-holder{
    margin:0;
    width:100%
}

.open-profile-menu{
    height:4vh;
}

.open-profile-menu:hover{
    cursor:pointer;
}

.themap:hover{
    cursor:pointer;
}

#sidebar{
        position:sticky;
        width: 450px;
        left: 0;
        min-height:100%;
        box-shadow: 0px -6px 10px grey;
        z-index: 100;
}

.category-icon{
    height:18vh;
}

.filter-image{
    height:12px;
}

.margin-0{
    margin:0;
    color:#ff7f1aff;
}

.notif-image{
    height: 130px;
    margin: 20px;
}

.modal-enter-h{
    height:8vh!important;
}

.usual-login-btn{
    margin: 5px;
    font-family: Open Sans;
    height: 36px;
    background-color: #cb2054ff;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 16px;
    width: 250px;
}

.form-text{
    font-size: 14px;
    margin: 5px;
}

.fieldWrapper > input{
    border:none;
    border-bottom: 1px solid #999898ff;
}

.p-step{
        margin:0!important;
        height:10vh!important;
    }

#mob-event-type, #mob-event-city{
        width: 150px!important;
        height: 25px!important;
        font-size: 14px!important;
        margin: 15px;
}

#mob-event-status{
    width: 150px!important;
    height: 25px!important;
    font-size: 14px!important;
    margin: 20px 0px 0px 0px;
}

#layout{
    margin: 0 4vw;
}


button:disabled {
    cursor:default;
    filter: grayscale(50%);
 }

 .category-tips{
    position:absolute;
    z-index:400;
    width:50vw;
    border-radius: 5px;
    background-color:#c6e8b0;
    left: 60px;
    top: 40px;
 }

.img-cat-tip{
    height: 150px;
    margin: 10px;

    display: inline-block;

}

.desc-cat-tip{
    display: inline-block;
    font-size: 16px;
    text-align: left;
    margin: 10px;
    color: white;
}



.tippy-tooltip {
    width: auto;
    max-width: 550px !important;
}

.category-tip{
    display: flex;
}

.news:hover{
    cursor:pointer;
}

.img-chesno{
    width:12vw;
}

.img-centerua{
    width:17vw;
    margin-bottom: 8vh;
}

.event-or-task-tips{
    position: absolute;
    z-index: 400;
    width: 450px;
    background-color: #c6e8b0;
    left: 6vw;
    padding-top:3vh;

}

.superhero{
    height:38vh;
}

#achiev-container{
    padding:0 3vw!important;
}


input[type=text]{
    padding: 3px 10px;
    border: none;
    border: solid 1px #ccc;
    border-radius: 5px;
    width: 200px;

}

input[type=password]{
    padding: 3px 10px;
    border: none;
    border: solid 1px #ccc;
    border-radius: 5px;
    width: 200px;

}


::-webkit-file-upload-button {
  background: #00BBBB;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

::-webkit-file-upload-button:hover {
  background: #087f7f;
  color: white;
  border: none;
  border-radius: 5px;
  transition-duration: 0.5s;
}

.digest-text {
    padding-top: 15px;
}

.profile-edit-submit {
    font-size: 16px;
}



.list-group {
  max-width: 400px;
  padding-bottom: 45px;
}

.form-check {
    padding-left: 0px;
    padding-top: 20px;
}

.form-check-input {
     margin: 0 !important;
     position: initial !important;
     color: #ccc;

}



.section {
    height: 250px !important;
    background: #333333 !important;
    padding: 10px 65px;
    border-radius: 5px;
}
.form-check-input:checked + label {
    color: black;
}

.fp-slidesNav ul li a span{
    background-color: white !important;
}

.fp-slidesNav ul {
    text-align: center;
}

.fp-viewing-0-0{
    all: none;
    overflow: scroll !important;
}
.edit-event-form label{
    font-size: 16px;
    margin: 10px 0px;
}
#id_description{
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;

}
.edit-event-form #id_min_part, .edit-event-form #id_max_part{
    width: 60px;
}
#id_contact{
    padding: 3px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#event_register_main #id_min_part{
    margin-left: 0px;
}

.edit-event-form input{
    margin-left: 10px;
}

.edit-event-form select {
    margin: 5px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    padding: 2px 10px;
    border-radius: 5px;
    background-color: #fff;
    background-image: url('./images/select.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 30%;
    background-origin: content-box;
    width: 80px;

}

#id_date_event_month{
    width: 150px;
}





#id_status, #id_events_type, #id_city{

    padding: 5px 10px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ccc;

    border-radius: 5px;
    background-color: #fff;
    background-image: url('./images/select.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 30%;
    background-origin: content-box;
    width: 300px;
    }

.edit-event-form #id_name{

    padding: 5px 10px;
    font-size: 24px;
    width: 400px;

    }
/*#event_register_main label{
    margin-top: 10px !important;
}

#event_register_main select, input, label{
    margin: 0px !important;

}

#event_register_main #id_name{
    width: 300px;
}*/

.subs{
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
    color: darkgreen;
}


.part{
    font-size: 16px;
    margin-bottom: 10px;

}

.bold{
    font-weight: 600;
}

#id_name{
    width: 300px;
}
.modal-open .modal{
    overflow:hidden !important;
}
.edit-event-send{
    font-size: 18px;
}
.modal-open .modal{
    overflow: scroll !important;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 170px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;

}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

.flip-card-back {

  background-color: rgba(0, 0, 0, 0);
  color: white;
  transform: rotateY(180deg);
}

@media(min-width:1300px){
    .event-status-info{
        font-size: 18px;
        font-weight:bold;
        color:#fff;
        line-height:1.2!important;
    }
    .event-name{
        font-size: 22px;
    }
    .event-description{
        font-size: 16px;
    }
    .task-or-event-image{
        width: 70px;
        max-width: 40%;
    }

    .list-group-item {
          columns: 2;
          -webkit-columns: 2;
          -moz-columns: 2;
        }



}
@media(min-width:930px) and (max-width: 1500px){
    p.locked-achievement{
        font-size: 14px;

    }
    p.unlocked-achievement {
        font-size: 14px;
    }
    .logo{

        height: 40px;
        top: 17px;
    }
    label{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .digest-text {
        padding-top: 5px;
        font-size: 14px;
    }
    .form-check-label {
        font-size: 14px;
        padding: 3px;
    }
    .form-check {
        padding-left: 0px;
        padding-top: 5px !important;
    }
    .list-group {
        max-width: 400px;
        padding-bottom: 15px;
    }
    .edit-profile-send{
        font-size: 14px;
    }
    #task_register_main input{
    font-size: 14px;
        margin-bottom: 3px;
    }
    #task_register_main select{
        font-size: 14px !important;
        margin-bottom: 3px;
        padding: 3px 5px !important;
    }
    #event_register_main input{
        font-size: 14px;
        margin-bottom: 3px;}
    #event_register_main select{
        font-size: 14px !important;
        margin-bottom: 3px;
        padding: 3px 5px !important;}

    .edit-profile-send input{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .edit-profile-send select{
        font-size: 14px !important;
        margin-bottom: 15px;
        padding: 3px 5px !important;
    }
    .volunteer-name {
        font-size: 20px !important;
        }
    .user-league-info {
        width: 30%;
        }

    .own-progress-league {
        background-color: #75f0fb;
        height: 17px;
        float: left;
        position: relative;
        border-radius: 10px;
    }
    .own-progress-bar {
        height: 17px;
        width: 180px;
        background-color: #fff;
        margin: 10px auto !important;
        border-radius: 16px;
        }
    .own-progress-bar p {
        margin-right: 10px;
        font-size: 13px;
    }
    .progress_state {
        float: left;
        position: absolute;
        right: -15px;
        top: -5px;
    }
    .quant-ach notif-col {
        font-size: 14px;
    }
    .img_progress_state {
        height: 40px;
    }
    .currency-holder {
        margin: 0;
        margin-top: 25px;
        margin-bottom: 0;
        width: 100%;
    }
    .currency-image {
        width: 40px;
        margin: 0 2px;
    }
    .item-menu {
        color: #000;
        font-size: 14px !important;
        margin-bottom: 0 !important;
        margin-left: 40px;
        line-height: 28px;
    }
    .notif-quant {
        height: 28px;
    }
    .event-navigation {
        box-shadow: 1px 1px 10px #c4c4c4;
        height: 75px;
    }
    .filter_event_task {
        max-width: 40px;
        height: auto;
    }
    .event-name {
        padding-top: 15px;
        font-size: 18px;
    }
    .event-description {
        font-size: 14px !important;
        height: 60px;
        margin-bottom: 0;
    }
    .event-button {
        height: 28px;
        color: #fff;
        border: none;
        border-radius: 6px;
        padding: 0 20px;
        position: relative;
        font-size: 14px;
    }
    .task_price {
        display: inline-block;
        padding-left: 7px;
        font-size: 14px;
        margin-bottom: 0 !important;
    }
    .task-or-event-image {
        width: 55px;
        margin-bottom: 27%;
        margin-right: 15%;
    }

    .category-image-ev {
        max-width: 133px;
        width: 100%;
        height: auto!important;
        margin: 10px;
    }

    .btn-div {
        margin-bottom: 20px;
    }
    .img-status {
        width: 30px;
        margin: 0 auto;
        position: absolute;
        left: 15%;
        top: 5%;
    }

    .event-status-info {
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        line-height: 1.2!important;
    }
    .inner {
        position: absolute;
        top: 60%;
        left: 65%;
    }
    .outer {
        width: 45px;
        position: relative;
        display: inline-block;
        height: 100%;
    }
    .quant-ach {
        position: absolute;
        left: 10px;
        top: 3px;
    }

    .first-name {
        margin-top: 30px;
        margin-bottom: 0;
    }

    #sidebar {
        position: sticky;
        width: 400px;
        background-size: 75px auto;
    }
    .change-league {
        font-size: 14px!important;
    }
    div.achievement-item {
        border-radius: 14px;
        height: 280px;
    }
    img.locked-achievement {
        width: 60px;
        margin-bottom: 10px;
    }
    .section {
    height: 180px !important;
    }
    .category-tips {
    position: absolute;
    z-index: 400;
    width: 550px;
    }
    .img-cat-tip {
    height: 100px !important;
    }
    .desc-cat-tip {
    display: inline-block;
    font-size: 12px;}

    .edit-event-form label {
        font-size: 14px;
        margin: 5px 0px;}
    .edit-event-form input {
        font-size: 14px;
        }
    .edit-event-form select {
        font-size: 14px;
        }
    .edit-event-form #id_name {
        padding: 5px 10px;
        font-size: 18px;
     margin-left:0!important;}
    #id_status, #id_events_type, #id_city {
        padding: 5px 10px;
        font-size: 14px;}
    .subs {
        font-size: 14px;}
    .edit-event-send {
        font-size: 16px;
    }
    .part {
        font-size: 14px;}
    .notif-image {
        height: 90px;
        margin: 15px;
    }
    .read{
        font-size: 14px;
        color: grey;
        margin-top: 30px;
        padding-left: 10px;
    }
}


.helptext{
    display: block;
    font-size: 12px;
    color: gray;
    }

form ul li{
    font-size: 12px !important;
    color: gray !important;
}

.info {
    padding-left: 0px;
}

.img-legue{
    height: 100%;
    width: 100%;
}

.profile-image{
    height: 170px;

}

.profile-image {
    background: rgba(0,0,0,0);


}
.profile-image-1 {
    background: rgba(0,0,0,0);
    height: 170px;

}

.shar {
    position: absolute;
    width: 33px;
    top: 40px;
    right: 6px;
    opacity:0;
}

.shar:hover{
    opacity:0.5;
    transition-duration: 0.5s;
}

.shield {

    width: 245px;
    display: inline-block;}

.events-block h1{
    padding: 40px 15px;
    font-size: 20px;
    text-align: center;
    color: darkcyan;
}

.edit-profile{
    padding: 30px 30px;
    }


.ep-event-description{
        font-size: 14px;}
.ep-event-addition-info{
    font-size: 14px;
    margin: 5px 0}