{% extends "base.html" %}
{% load static %}

{% load volunteer_extras %}


{% block jscripts %}



{% endblock %}


{% block menu_item %}
    <li class="nav-item active">
        <a class="nav-link" href="#">Знайти подію<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id = "open-reg-modal">Організувати подію</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#">Новини</a>
    </li>
{% endblock %}

{% block menu_button %}
    <div id = "adding-info">
        {% csrf_token %}
    </div>
    <form action="{% url 'logout' %}">
        <button class="btn text-primary-color dark-primary-color my-2 my-sm-0" type="submit">Вийти</button>
    </form>
{% endblock %}

{% block container %}
    <div class="btn-group" role="group" cerrent_league = {{ current_league }} aria-label="Basic example">
        {% for league in leagues %}
            {% if current_league == league.id%}
                <button type="button" class="btn change-league" get_url="{% url 'achivments_legaue' %}" legaues_id = "{{ league.id }}" disabled>{{league.league}}</button>
            {% else %}
                <button type="button" class="btn change-league" get_url="{% url 'achivments_legaue' %}"  legaues_id = "{{ league.id }}">{{league.league}}</button>
            {% endif %}
        {% endfor %}
    </div>

    <div id="achiev-container">
        {% include 'achievements_result.html' %}
    </div>





{% endblock %}





