{% load static %}
{% load volunteer_extras %}



    <div class="row text-left" style="padding: 30px 30px">
        <div class="col">
        <form class="edit-profile-send" action="{% url 'profile_edit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="{{ form.first_name.id_for_label}}">Ім'я:</label>
                {{form.first_name.errors}}<br>
                {{form.first_name}}<br><br>

            <label for="{{ form.last_name.id_for_label}}">Прізвище:</label>
                {{form.last_name.errors}}<br>
                {{form.last_name}}<br><br>
            <label for="{{ form.photo.id_for_label}}"> Змініть фотографію профілю! </label>
                {{form.photo.errors}}<br>
                {{form.photo}}<br>
            </label>

        </form>




            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<input id="upload" value="Choose a file" accept="image/*" type="file">-->
                    <!--<button class="upload-result">Зберегти</button>-->
                    <!--<div class="upload-image"></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row ">-->


                    <div class="form-check ">
                        <p class="digest-text">Ви можете бачити події тільки цих категорій!</p>
                        <ul class="list-group">
                          <li class="list-group-item">
                          {% for type in type_events %}
                                {% if dict_digest|get_item:type.id == 1 %}
                                    <input class="form-check-input" type="checkbox" id="{{type.id}}" type_id = "{{type.id}}" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" id="{{type.id}}" type_id = "{{type.id}}">
                                {% endif %}
                                <label class="form-check-label" for="{{type.id}}">
                                  {{type.type}}
                                </label><br>
                            {% endfor %}


                          </li>

                        </ul>
                        <button class="profile-edit-submit btn btn-success edit-profile-send" form_url = "{% url 'profile_edit' %}"  post_url = "{% url 'refresh_digest' %}"  >Зберегти зміни</button>

                    </div>


            </div>
</div>
            <script>
                $uploadCrop = $('.upload-image').croppie({
                    enableExif: true,
                    viewport: {
                        width: 156,
                        height: 176,
                    },
                    boundary: {
                        width: 200,
                        height: 300
                    }
                });

                function readFile(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('.upload-image').addClass('ready');
                            $uploadCrop.croppie('bind', {
                                url: e.target.result
                            }).then(function(){
                                console.log('jQuery bind complete');
                            });

                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                    else {
                        swal("Sorry - you're browser doesn't support the FileReader API");
                    }
                }



                $('#upload').on('change', function(){

                  readFile(this);

                      $('.upload-result').on('click', function (ev) {
                        $uploadCrop.croppie('result', {
                            type: 'canvas',
                            size: 'original'
                        }).then(function (resp) {
                            console.log(resp);
                            var strImage = resp.replace(/^data:image\/[a-z]+;base64,/, "");
                            console.log(strImage)
                            var blob = b64toBlob(strImage, 'image/png');
                            var blobUrl = URL.createObjectURL(blob);
                            console.log(blobUrl);
                            console.log(typeof(blob));
                            $('#image').val(blob);
                            console.log( $('#image').val());

                            var formData = new FormData();
                            formData.append('userpic', blob, 'accphoto.jpg');
                            print(formData)
                            })

                             $.ajax({
                             url: '/changephoto/',
                             type :'POST',
                             data:formData,
                             cache:true,
                             success: function(data){
                                console.log('OK')


                             },
                             error: function(){
                             console.log('error')
                             }
                         })
                        })

                })

            </script>

        </div>

    </div>




