{% load static %}
<form action="{% url 'form'  id=event.id  %}" method="post">
    {% csrf_token %}
<div class="row">
    <div class="col-8 ep-event-info">
        <div class="row">
            <div class="col-auto text-left ">
                {% if event.events_or_task == True %}
                    <img class="ep_event_task" src="{% static 'volunteer/images/event.png' %}">
                {% else %}
                    <img class="" src="{% static 'volunteer/images/task.png' %}">
                    {% if zero_executor == True %}
                        <button type="button" event_id ="{{event.id}}" class="get-executers-form" get_url="{% url 'task_executor' %}">Призначити виконавця</button>
                    {% endif %}
                {% endif%}
            </div>
            <div class="col-8">
                    {{form.name.errors}}
                    {{form.name}}
                    <p> додано {{ event.publication_date }}</p>
                    {{form.status.errors}}
                    {{form.status}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{form.description.errors}}
                {{form.description}}
                <br>

                 <label for="{{ form.address.id_for_label }}">Адреса:</label>
                {{form.address.errors}}
                {{form.address}}
            </div>
        </div>
        <div class="row">
            <div class="col-5">
             <label for="{{ form.date_event.id_for_label }}">Дата:</label>
                {{form.date_event.errors}}
                {{form.date_event}}
            </div>
            <div class="col-7">
                <label for="{{ form.min_part.id_for_label }}">Мінімальна кількість учасників:</label>
                {{form.min_part.errors}}
                {{form.min_part}}
                <br/>
                    <label for="{{ form.max_part.id_for_label }}">Максимальна кількість учасників:</label>
                {{form.max_part.errors}}
                {{form.max_part}}


            </div>

        </div>
        <div class="row">
            <div class="col-5">
                 <label for="{{ form.contact.id_for_label }}">Введіть Ваш контактний e-mail:</label>
                {{form.contact.errors}}
                {{form.contact}}

            </div>

        </div>



    </div>
    <div class="col-4 text-right">
        нишпорять:{{subs}}
        приймають участь:{{part}}
        <img class="category_event " src="{{ event.events_type.image.url }}">
    </div>


</div>

<div class="row">
    <div class="col-12">
        <button type="submit " class="edit-event-send" >Зберегти зміни</button>
    </div>
</div>

</form>
{% for task in tasks_form_list %}
<div class="row">

    {% if not task.canceled.value %}
    {% if forloop.first%}
    <h2> Додаткові завдання </h2>
    {% endif %}

    <div class="col-9">
        <form class="edit-adding-task" action="{% url 'changetask' id=task.instance.id %}" method="post" onsubmit="return false">
            {{task.canceled.value}}
            {{task.task_name.value}}
            {% csrf_token %}
            {{ task.as_p }}
            <button type="submit " >Змінити організаційне завдання</button>
        </form>
    </div>
    <div class="col-3">
        <button class="cancel-task" post_url="{% url 'cancel_task' id=task.instance.id %}"> Відмінити </button>
    </div>

    {% endif %}
</div>
{% endfor %}