{% load static %}
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}

            <div class="row text-center align-items-center event-navigation">
                <div class="col text-left left-event-navigation">
                    <div class="dropdown open inline">
                        <select id="event-type" class="text-left select" url_get = "{% url 'type_filter' %}" state = "news">
                                <option type_id = "all_digest">Категорія</option>
                           {% for type_ev in types_events %}
                                <option type_id = "{{type_ev.id}}">{{ type_ev.type }}</option>
                            {% endfor %}



                        </select>

                        <img class="align-self-center what-img category-hint" src="{% static 'volunteer/images/what.png' %}">
                        <div id = "category-tips" class="category-tips" style = 'visibility: hidden;'>


                            <div id="fullpage">
                            <div class="section active">
                                <div class="slide">
                            <div class="category-tip ">

                                    <img class="img-cat-tip" src="{% static 'volunteer/images/urbanism.png' %}">


                                    <p class="desc-cat-tip">
                                    До цієї категорії належать завдання, що пов'язані із модернізацією міста.<br> <b>Приклади завдань</b>:
                                    намалювати мурал, розробити дизайн мапи транспортного руху,
                                    будівництво прикольних дитячих майданчиків, музикальні інструменти на вулиці.
                                </p>
                            </div>
                                </div>
                                <div class="slide">
                                    <div class="category-tip ">
                                    <img class="img-cat-tip" src="{% static 'volunteer/images/toloka.png' %}">
                                    <p class="desc-cat-tip">
                                    Бажаєш зробити місто зразком чистоти і порядку?<br>
                                    Тоді обирай категорію толока.<br>
                                    Приклади завдань: прибирання, організація проектів з сортування сміття, висадка дерев.
                                    </p></div>
                                </div>
                                <div class="slide">
                                    <div class="category-tip ">
                                    <img class="img-cat-tip" src="{% static 'volunteer/images/donor.png' %}">
                                    <p class="desc-cat-tip">
                                    Долучайся до донорського руху, безкорисливого надання крові хворим.
                                    </p></div>
                                </div>
                                <div class="slide">
                                    <div class="category-tip ">
                                     <img class="img-cat-tip" src="{% static 'volunteer/images/blago.png' %}">
                                    <p class="desc-cat-tip">
                                     Категорія благодійництво передбачає допомогу людям, які її потребують.<br>
                                        Приклади завдань: організація таборів з безкоштовною їжею, збирання грошей та іграшок в дитячий будинок.</p>
                                    </div></div>
                                <div class="slide">
                                    <div class="category-tip ">
                                    <img class="img-cat-tip" src="{% static 'volunteer/images/osvita.png' %}">
                                    <p class="desc-cat-tip">
                                     Не скупіться ділитися знаннями! Обмін інформацією - це сучасне життя!<br>
                                    Приклади завдань: проведення лекцій, класів під відкритим небом, організація гуртків для дітей, заходів
                                    "Розкажи дітям про свою професію"
                                    </p></div>
                                </div>
                                <div class="slide">
                                    <div class="category-tip ">
                                    <img class="img-cat-tip" src="{% static 'volunteer/images/prozoro.png' %}">
                                    <p class="desc-cat-tip">
                                     Хто як не жителі міста мають слідкувати на що витрачаються громадські кошти. Ця категорія для тих, хто проводить
                                        розслідування та добивається прозорості у справах міста.
                                    </p></div>
                                </div>
                                <div class="slide">
                                    <div class="category-tip ">
                                    <img class="img-cat-tip" src="{% static 'volunteer/images/varta.png' %}">
                                    <p class="desc-cat-tip">
                                        Категорія "Варта" для хоробрих людей, що в силах обороняти свій дім. Українські бой-скаути вперед!<br>
                                        Приклади завданнь: організація уроків з надання першої медичної допомоги, патрулювання району у вечірній час,
                                        територіальна оборона.</p>
                                    </p>
                                    </div></div>
                                <div class="slide">
                                    <div class="category-tip ">
                                    <img class="img-cat-tip" src="{% static 'volunteer/images/kotyky.png' %}">
                                    <p class="desc-cat-tip">
                                    Якщо ти борець за права тварин, або просто небайдужий до всіх мешканців міста, тобі сюди.
                                    </p>
                                    </div></div>
                            </div></div>


                        </div>
                    </div>
                <div class="inline">


                    <img class="align-self-center filter_event_task it_is_event " url_get = "{% url 'type_filter' %}"  src="{% static 'volunteer/images/event_fiter.png' %}">
                    <img class="align-self-center task-event-hint what-img" src="{% static 'volunteer/images/what.png' %}">



                    <img class="align-self-center filter_event_task it_is_task" url_get = "{% url 'type_filter' %}"    src="{% static 'volunteer/images/filter_task.png' %}">
                </div>

                    <div class="dropdown open inline">
                        <select id="event-status" class="text-left select" url_get = "{% url 'type_filter' %}">
                                <option status_id = "none" selected>Cтатус</option>
                            {% for status in status_events %}
                                <option status_id = "{{status.id}}" >{{status.status}}</option>
                            {% endfor %}
                        </select>
                            <div class="map-contailer">
                                {% leaflet_map "not_main" %}
                            </div>
                    </div>

                    <div class="dropdown open  inline">
                        <select id="event-city" class="text-left select" url_get = "{% url 'type_filter' %}">

                                <option city_id = "none" selected>Область</option>

                            {% for current_city in cities %}

                                <option city_id = "{{current_city.id}}">{{current_city.city}}</option>

                            {% endfor %}
                        </select>

                            <div class="map-contailer">
                                {% leaflet_map "not_main" %}
                            </div>
                        <!--here is search-->


                    </div>
                    <div class="inline">
                    <form class="form-inline ">
                        <input id="event-search" url_get="{% url 'type_filter' %}" type="text" placeholder="Пошук">
                    </form></div>


                <div class="small-filter">
                        <p class="margin-0 filter-setting"> Налаштувати фільтр <img class="filter-image" src="{% static 'volunteer/images/filter.png' %}" style="color: #ff7f1aff;"> </p>
                </div>



                        <!--<div class="themap" get_url="{% url 'map' %}">-->
                            <!--<img class="align-self-center float-left nav-add"  src="{% static 'volunteer/images/map.png' %}">-->
                        <!--</div>-->
                    <div class = "text-right float-right ">
                        <a href="{% url 'map' %}" target="_blank">
                            <img class="align-self-center float-left nav-add map-icon" src="{% static 'volunteer/images/map.png' %}">
                        </a>


                    <a href="{% url 'fullcalendar' %}" target="_blank" >
                        <img class="align-self-center float-left nav-add calendar-icon" src="{% static 'volunteer/images/calendar.png' %}">
                    </a>
                    </div></div>
            </div >
 <script type="text/javascript">
            tippy('.task-event-hint', {
              content: 'Подія на відміну від завдання має чітку дату і адресу',
              animation:'perspective',
              placement:'bottom',
            })
            tippy('.it_is_event', {
              content: 'Подія (суботник, день донора)',
              animation:'perspective',
              placement:'left-start',
            })
            tippy('.it_is_task', {
              content: 'Завдання (намалювати мурал, віднести іграшки в дит. будинок)',
              animation:'perspective',
              placement:'right-end',
            })
            tippy('.category-hint', {
              content: 'Натисніть, щоб дізнатися про категорії',
              animation:'perspective',
              placement:'right-end',
            })








            function onEachFeature(feature, layer) {
              var props = feature.properties;
              if (!props.description){
                props.description = "Немає опису";
              }
              var content = `<img width="70" src="${props.get_events_type_url}"/><h4><a class="event-name" get_url="${props.get_event_url}">${props.name}</a></h4><p>${props.description}</p>`;
              layer.bindPopup(content);
            }


            function pointToLayer(feature, latlng) {
              var EventIcon = L.Icon.extend({
                options: {
                  // shadowUrl:    '/static/img/shadow.png',
                  iconSize:   [37, 63],
                  iconAnchor:   [30, 55],
                  popupAnchor:  [0, 0],
                  shadowSize:   [50, 58],
                  shadowAnchor: [15, 55],
                }
              });
              var event_icon = new EventIcon({iconUrl: feature.properties.get_events_type_marker_url});
              return L.marker(latlng, {icon: event_icon});
            }


            var dataurl = '{% url "event_geo_data" %}';


            window.addEventListener("map:init", function (event) {
              var map = event.detail.map;
              map.invalidateSize()
              console.log('here');
              console.log(map);
              fetch(dataurl)
                .then(function(resp) {
                  return resp.json();
                })
                .then(function(data) {
                  L.geoJSON(data, {
                    onEachFeature: onEachFeature,
                    pointToLayer: pointToLayer
                  }).addTo(map);
              });
            });

    </script>