{% load static %}

            <div class="row text-center align-items-center event-navigation">
                <div class="col-md-3">
                    <div class="dropdown open text-left category-filter">
                        <select id="event-type" class="text-left select" url_get = "{% url 'type_filter' %}" state = "news">
                                <option type_id = "all_digest">Категорія</option>
                           {% for type_ev in types_events %}
                                <option type_id = "{{type_ev.id}}">{{ type_ev.type }}</option>
                            {% endfor %}

                                <option type_id = "all" >Всі</option>

                        </select>
                        <img class="align-self-center what-img" src="{% static 'volunteer/images/what.png' %}">
                    </div>

                </div>
                <div class="col-md-2 padding-0">
                    <img class="align-self-center filter_event_task it_is_event " url_get = "{% url 'type_filter' %}"  src="{% static 'volunteer/images/event_fiter.png' %}">
                    <img class="align-self-center what-img" src="{% static 'volunteer/images/what.png' %}">
                    <img class="align-self-center filter_event_task it_is_task" url_get = "{% url 'type_filter' %}"  src="{% static 'volunteer/images/filter_task.png' %}">

                </div>
                <div class="col-md-2">
                    <div class="dropdown open text-left category-filter">
                        <select id="event-status" class="text-left select" url_get = "{% url 'type_filter' %}">
                                <option status_id = "none" selected>статус</option>
                            {% for status in status_events %}
                                <option status_id = "{{status.id}}" >{{status.status}}</option>
                            {% endfor %}
                        </select>
                </div>
                </div>
                <div class="col-md-3">
                        <input class="select search" type="text" >
                </div>
                <div class="col-md-2">
                    <a href="{% url 'map' %}">
                         <img class="align-self-center float-left nav-add" src="{% static 'volunteer/images/map.png' %}">
                    </a>

                    <img class="align-self-center float-left nav-add" src="{% static 'volunteer/images/calendar.png' %}">

                </div>
            </div >
