{% load static %}
<form class="" action="{% url 'form'  id=event.id  %}" method="post">
    {% csrf_token %}
<div class="row">
    <div class="col-sm-12 col-lg-8 ep-event-info">
        <div class="row">
            <div class="col-auto text-left padding-0">
                {% if event.events_or_task == True %}
                    <img class="category_event_edit " src="{{ event.events_type.image.url }}">
                {% else %}
                     <img class="category_event_edit " src="{{ event.events_type.image.url }}">
                    {% if zero_executor == True %}
                        <button type="button" event_id ="{{event.id}}" class="get-executers-form" get_url="{% url 'task_executor' %}">Призначити виконавця</button>
                    {% endif %}
                {% endif%}
            </div>
            <div class="col-8 edit-event-form">
                    {{form.name.errors}}
                    {{form.name}}
                    <p class="ep_event_reg_date"> додано {{ event.publication_date }}</p>
                    {% if event.status.id == 1 or event.status.id == 2 %}
                        {{form.status.errors}}
                        {{form.status}}
                    {% else %}
                    <p>{{event.status}} </p>
                    {% endif %}
                    <p class="ep_event_reg_date"> Не забудьте змінити статус на Проведено, щоб учасники отримали монети!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 edit-event-form">
                {{form.description.errors}}
                {{form.description}}

                <br>
                 <label for="{{ form.address.id_for_label }}">Адреса:</label>
                {{form.location.errors}}
                {{form.location}}
                <br>
                <label for="{{ form.date_event.id_for_label }}">Дата:</label>
                {{form.date_event.errors}}
                {{form.date_event}}
                <br>
                <label for="{{ form.time_event.id_for_label }}">Час:</label>
                {{form.time_event.errors}}
                {{form.time_event}}
                <!--<br>-->
                <!--<label for="{{ form.min_part.id_for_label }}">Мінімальна кількість учасників:</label>-->
                <!--{{form.min_part.errors}}-->
                <!--{{form.min_part}}-->
                <!--<br>-->
                    <!--<label for="{{ form.max_part.id_for_label }}">Максимальна кількість учасників:</label>-->
                <!--{{form.max_part.errors}}-->
                <!--{{form.max_part}}-->
                <br>
                <label for="{{ form.contact.id_for_label }}">Введіть Ваш контактний e-mail:</label>
                {{form.contact.errors}}
                {{form.contact}}
                <br>
                <label for="{{ form.fb_page.id_for_label }}">Facebook-сторіка події:</label>
                {{form.fb_page.errors}}
                {{form.fb_page}}


                <br><br>
                <button type="submit " class="edit-event-send btn btn-success" >Зберегти зміни</button>
            </div>
        </div>




    </div>
    <div class="col-sm-12 col-lg-4" style = "padding-top:30px">
        <p class="subs"> Нишпорять: {{subs}} &nbsp;&nbsp; Беруть участь: {{part}}</p>



        {% for executor in executors %}
        <p class="part">{{executor.user}}: &nbsp; <b>{{executor.contact}}</b></p>
        {% endfor %}
    </div>


</div>

<div class="row">
    <div class="col-12">

    </div>
</div>

</form>
{% for task in tasks_form_list %}
<div class="row">

    {% if not task.canceled.value %}
    {% if forloop.first%}
    <h2> Додаткові завдання </h2>
    {% endif %}

    <div class="col-9">
        <form class="edit-adding-task" action="{% url 'changetask' id=task.instance.id %}" method="post" onsubmit="return false">
            {{task.canceled.value}}
            {{task.task_name.value}}
            {% csrf_token %}
            {{ task.as_p }}
            <button type="submit " >Змінити організаційне завдання</button>
        </form>
    </div>
    <div class="col-3">
        <button class="cancel-task" post_url="{% url 'cancel_task' id=task.instance.id %}"> Відмінити </button>
    </div>

    {% endif %}
</div>
{% endfor %}