{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Особистий кабінет</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href = "{% static 'volunteer/palette.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'volunteer/style.css' %}" />
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-light navbarset container">
        <a href="#" class="navbar-left">
        	<img src="{% static 'volunteer/images/hands.png' %}" style = "height:10vh">
		</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Знайти подію<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Організувати подію</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">Новини</a>
              </li>
        </ul>

          <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
          <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          <button class="btn text-primary-color dark-primary-color my-2 my-sm-0" type="submit">Вийти</button>

      </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="fotorama">
                <img src="{% static 'volunteer/images/test/1.jpg' %}" >
                <img src="{% static 'volunteer/images/test/2.jpg' %}" >
                <img src="{% static 'volunteer/images/test/3.jpg' %}" >
                <img src="{% static 'volunteer/images/test/4.jpg' %}" >
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-12 text-center ">
            <h1>Event's name</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div>


                <table class="table primary-text-color ">
                    <thead>
                        <tr>
                            <th scope="col border-botom">Дата:</th>
                            <th scope="col">01.02.2018</th>
                        </tr>
                    <thead>
                        <tr>
                            <th scope="col">Тип:</th>
                            <th scope="col">Екологія</th>
                        </tr>
                    <thead>
                        <tr>
                            <th scope="col">Слідкують:</th>
                            <th scope="col">16</th>
                        </tr>
                    <thead>
                        <tr>
                            <th scope="col">Учасники:</th>
                            <th scope="col">14</th>
                        </tr>

                  </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-7 text-center my-auto" style="border: solid 1px #FFEB3B;
                                                    background-color: #FFEB3B;
                                                    border-radius: 15px;
                                                    color: #212121;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt, mauris nec porta varius, nisi metus hendrerit lacus, id condimentum purus eros sed justo. Suspendisse faucibus at quam vel scelerisque. Morbi tempor semper iaculis. Sed sodales libero ac orci viverra, volutpat aliquet erat ornare. Aliquam id posuere metus. Aenean quis ligula non quam iaculis aliquam. Aenean neque risus, tristique in mi sit amet, congue scelerisque ligula. Nulla euismod, risus non molestie interdum, augue diam condimentum risus, vel porta ex urna nec lectus. Morbi quis posuere lectus.</p>
        </div>
    </div>
</div>







</body>
</html>
