{% load static %}
<form action="{% url 'form'  id=event.id  %}" method="post">
    {% csrf_token %}
<div class="row">
    <div class="col-md-8 ep-event-info">
        <div class="row">
            <div class="col-md-auto text-left ">
                {% if event.events_or_task == True %}
                    <img class="ep_event_task" src="{% static 'volunteer/images/event.png' %}">
                {% else %}
                    <img class="" src="{% static 'volunteer/images/task.png' %}">
                {% endif%}
            </div>
            <div class="col-md-8">
                    {{form.name.errors}}
                    {{form.name}}
                    <p> додано {{ event.publication_date }}</p>
                    {{form.status.errors}}
                    {{form.status}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{form.description.errors}}
                {{form.description}}
                <br>

                 <label for="{{ form.address.id_for_label }}">Адреса:</label>
                {{form.address.errors}}
                {{form.address}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
             <label for="{{ form.date_event.id_for_label }}">Дата:</label>
                {{form.date_event.errors}}
                {{form.date_event}}
            </div>
            <div class="col-md-7">
                <label for="{{ form.min_part.id_for_label }}">Мінімальна кількість учасників:</label>
                {{form.min_part.errors}}
                {{form.min_part}}
                <br/>
                    <label for="{{ form.max_part.id_for_label }}">Максимальна кількість учасників:</label>
                {{form.max_part.errors}}
                {{form.max_part}}


            </div>

        </div>
        <div class="row">
            <div class="col-md-5">
                 <label for="{{ form.contact.id_for_label }}">Введіть Ваш контактний e-mail:</label>
                {{form.contact.errors}}
                {{form.contact}}

            </div>

        </div>



    </div>
    <div class="col-md-4 text-right">
        нишпорять:{{subs}}
        приймають участь:{{part}}
        <img class="category_event " src="{{ event.events_type.image.url }}">
    </div>


</div>

<div class="row">
    <div class="col-md-12">
        <button type="submit " class="edit-event-send" >Зберегти зміни</button>
    </div>
</div>
</form>