{% load static %}
{% load disqus_tags %}

{% block adding_link %}
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
{% endblock %}

     <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<div class="fotorama">-->
                <!--{% if photos %}-->
                    <!--{% for photo in photos %}-->
                                      <!--<img src="{% static 'volunteer/images/test/1.jpg' %}" >-->
                    <!--{% endfor %}-->
                <!--{% else %}-->
                    <!--<img src="{% static 'volunteer/images/test/2.jpg' %}" >-->
                    <!--<img src="{% static 'volunteer/images/test/3.jpg' %}" >-->
                    <!--<img src="{% static 'volunteer/images/test/4.jpg' %}" >-->
                <!--{% endif %}-->

            <!--</div>-->

        <!--</div>-->

    <!--</div>-->

    <div class="row">
        <div class="col-md-8 col-12 ep-event-info">
            <div class="row">
                <div class="col-md-auto col-4 text-left ">
                    {% if event.events_or_task == True %}
                        <img class="ep_event_task" src="{% static 'volunteer/images/event.png' %}">
                    {% else %}
                        <img class="ep_event_task" src="{% static 'volunteer/images/task.png' %}">
                    {% endif%}


                </div>
                <div class="col-8">
                    <h2 class="ep_event_name">{{event.name}}</h2>
                    <p class = "ep_event_reg_date"> додано {{ event.publication_date }}</p>

                    {% if event.status.id == 1%}
                    <button class="event-button status-button get-org-tasks" get_url = "{% url 'get_event_org_tasks' %}"style="background-color: {{event.status.color_background}}" event_id = "{{event.id}}"> <img class="img-status-btn" src="{{ event.status.image.url }}" > {{event.status.frontend_value}} </button>
                    {% else %}
                    <button class="event-button status-button" style="background-color: {{event.status.color_background}}" disabled> <img class="img-status-btn" src="{{ event.status.image.url }}" > {{event.status.frontend_value}} </button>
                    {% endif %}

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="ep-event-description">{{ event.description }}</p>
                    <p class="ep-event-addition-info">Область: &nbsp; <b>{{ event.city }}</b></p>
                    {% if event.events_or_task == True %}
                        {% if event.address %}
                             <p class="ep-event-addition-info">Адеса: &nbsp; <b>{{ event.address }}</b></p>
                        {% endif %}
                        {% if event.time_event  %}
                            <p class="ep-event-addition-info">Час: &nbsp; <b>{{ event.time_event }}</b></p>
                        {% endif %}
                        {% if event.date_event  %}
                            <p class="ep-event-addition-info">Дата: &nbsp; <b>{{ event.date_event }}</b></p>
                        {% endif %}
                        {% if event.contact  %}
                            <p class="ep-event-addition-info">Зв'яжіться з організатором: &nbsp; <b>{{ event.contact }}</b></p>
                        {% endif %}
                        {% if event.fb_page  %}
                    <p class="ep-event-addition-info">Facebook-сторінка: &nbsp;<a href="{{ event.fb_page }}">{{ event.fb_page }}</a></p>
                        {% endif %}





                    {% endif %}
                    <br>
                    {% if org_user == 1 %}
                        <button class="btn-event-edit event-button" id_event = {{ event.id }} get_url = "{% url 'form' id=event.id %}">редагувати <img class="img-curr-in-button" src="{% static 'volunteer/images/edit.png' %}"</button>
                    {% else %}
                        {% if subscribe == 1 %}
                            {% if part == 1 %}
                            <button type="button" class="btn-refollow    event-button" id="follow"  id_event = {{ event.id }}, url_post = "{% url 'follow_event' %}">відписатися</button>
                            {% else %}
                            <button type="button" class="btn-refollow    event-button" id="follow"  id_event = {{ event.id }}, url_post = "{% url 'follow_event' %}">відписатися</button>
                            {% endif %}
                        {% else %}
                            <button type="button" class="btn-follow   event-button" id="follow"  id_event = {{ event.id }}, url_post = "{% url 'follow_event' %}" >підписатися</button>
                        {% endif %}

                        {% if part == 1 %}
                            <button type="button" class="btn-resubscribe  event-button" id_event = {{ event.id }}, url_post = "{% url 'subscribe_event' %}">скасувати участь</button>
                        {% else %}
                            <button type="button" class="event-button btn-subscribe  " id_event = {{ event.id }}, url_post = "{% url 'subscribe_event' %} " >долучитися <img class="img-curr-in-button" src="{{curr_category|get_item:event.events_type.id}}" ></button><p class="task_price">{{event.recommended_points}}</p>
                        {% endif %}

                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-4  d-none d-md-block" style = "padding-top:20px">
            <img class="category_event " src="{{ event.events_type.image.url }}">
        </div>


    </div>


    <div class="row justify-content-md-center">
        <div class="col-11">
            <!--<div id="disqus_thread"></div>-->
                <script>

                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

                var disqus_config = function () {
                    this.page.url = "{{absolute_url}}";  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{event.id}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };

                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://changer.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

            </div>
        </div>
    </div>













