{% load static %}
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}

            <div class="row text-center align-items-center event-navigation">
                <div class="col-3 d-none d-md-block">
                    <div class="dropdown open text-left category-filter">
                        <select id="event-type" class="text-left select" url_get = "{% url 'type_filter' %}" state = "news">
                                <option type_id = "all_digest">Категорія</option>
                           {% for type_ev in types_events %}
                                <option type_id = "{{type_ev.id}}">{{ type_ev.type }}</option>
                            {% endfor %}

                                <option type_id = "all" >Всі</option>

                        </select>
                        <img class="align-self-center what-img category-hint" src="{% static 'volunteer/images/what.png' %}">
                        <div class="category-tips d-none">

                            <div class="category-tip ">
                                <div class="img-tip-holder">
                                    <img class="img-cat-tip" src="{% static 'volunteer/images/urbanism.png' %}">
                                </div>
                                <div class="img-desc-holder">
                                    <p class="desc-cat-tip">
                                    До цієї категорії належать завдання, що безпосередньо пов'язані із модернізацією міста.<br> Приклади завдань:
                                    намалювати мурал, розробити прикольний дизайн, мапи транспортного руху, нові таблички з назвами вулиць,
                                    реконструкція будівель, будівництво прикольних дитячих майданчиків, музикальні інструменти на вулиці.
                                </p>
                                </div>
                            </div>

                             <div class="category-tip">
                                <div class="img-tip-holder">
                                    <img class="img-cat-tip" src="{% static 'volunteer/images/toloka.png' %}">
                                </div>
                                <div class="img-desc-holder">
                                    <p class="desc-cat-tip">
                                    Бажаєш зробити місто зразком чистоти і порядку?<br>
                                    Тоді обирай категорію толока.<br>
                                    Приклади завдань: прибирання, організація проектів з сортування сміття, висадка дерев.
                                </p>
                                </div >
                            </div >

                            <div class="category-tip">
                                <div class="img-tip-holder">
                                    <img class="img-cat-tip" src="{% static 'volunteer/images/donor.png' %}">
                                </div>
                                <div class="img-desc-holder">
                                    <p class="desc-cat-tip">
                                    Долучайся до донорського руху, безкорисливого надання крові хворим.
                                </p>
                                </div>
                            </div>

                            <div class="category-tip">
                                <div class="img-tip-holder">
                                    <img class="img-cat-tip" src="{% static 'volunteer/images/blago.png' %}">
                                </div>
                                <div class="img-desc-holder">
                                    <p class="desc-cat-tip">
                                     Категорія благодійництво передбачає допомогу людям, які її потребують.<br>
                                        Приклади завдань: організація таборів з безкоштовною їжею, збирання грошей та іграшок в дитячий будинок.
                                </div>
                            </div>

                            <div class="category-tip">
                                <div class="img-tip-holder">
                                    <img class="img-cat-tip" src="{% static 'volunteer/images/osvita.png' %}">
                                </div>
                                <div class="img-desc-holder">
                                    <p class="desc-cat-tip">
                                     Не скупіться ділитися знаннями! Обмін інформацією - це сучасне життя!<br>
                                    Приклади завдань: проведення лекцій, класів під відкритим небом, організація гуртків для дітей, заходів
                                    "Розкажи дітям про свою професію"
                                </p>
                                </div>
                            </div>

                            <div class="category-tip">
                                <div class="img-tip-holder">
                                    <img class="img-cat-tip" src="{% static 'volunteer/images/prozoro.png' %}">
                                </div>
                                <div class="img-desc-holder">
                                    <p class="desc-cat-tip">
                                     Хто як не жителі міста мають слідкувати на що витрачаються громадські кошти. Ця категорія для тих, хто проводить
                                        розслідування та добивається прозорості у справах міста.
                                </p>
                                </div>
                            </div>

                            <div class="category-tip">
                                <div class="img-tip-holder">
                                    <img class="img-cat-tip" src="{% static 'volunteer/images/varta.png' %}">
                                </div>
                                <div class="img-desc-holder">
                                    <p class="desc-cat-tip">
                                        Категорія "Варта" для хоробрих людей, що в силах обороняти свій дім. Українські бой-скаути вперед!<br>
                                        Приклади завданнь: організація уроків з надання першої медичної допомоги, патрулювання району у вечірній час,
                                        територіальна оборона.
                                </p>
                                </div>
                            </div>

                            <div class="category-tip">
                                <div class="img-tip-holder">
                                    <img class="img-cat-tip" src="{% static 'volunteer/images/kotyky.png' %}">
                                </div>
                                <div class="img-desc-holder">
                                    <p class="desc-cat-tip">
                                    Якщо ти борець за права тварин, або просто небайдужий до всіх мешканців міста, тобі сюди.
                                </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-2 d-none d-md-block padding-0">
                    <img class="align-self-center filter_event_task it_is_event " url_get = "{% url 'type_filter' %}" data-toggle="tooltip" title="Подія"  src="{% static 'volunteer/images/event_fiter.png' %}">
                    <img class="align-self-center what-img" src="{% static 'volunteer/images/what.png' %}">
                    <img class="align-self-center filter_event_task it_is_task" url_get = "{% url 'type_filter' %}" data-toggle="tooltip" title="Завдання"   src="{% static 'volunteer/images/filter_task.png' %}">

                </div>
                <div class="col-5 d-none d-md-block">
                    <div class="dropdown open text-left category-filter">
                        <select id="event-status" class="text-left select" url_get = "{% url 'type_filter' %}">
                                <option status_id = "none" selected>статус</option>
                            {% for status in status_events %}
                                <option status_id = "{{status.id}}" >{{status.status}}</option>
                            {% endfor %}
                        </select>
                            <div class="map-contailer">
                                {% leaflet_map "not_main" %}
                            </div>
                    </div>
                </div>

                <div class="col-7 d-block d-md-none">
                        <p class="margin-0 filter-setting"> Налаштувати фільтр <img class="filter-image" src="{% static 'volunteer/images/filter.png' %}" style="color: #ff7f1aff;"> </p>
                </div>

                <div class="col-md-2 col-5">
                        <a href="{% url 'map' %}">
                         <img class="align-self-center float-left nav-add" src="{% static 'volunteer/images/map.png' %}">
                        </a>
                         <!--<img class="align-self-center float-left nav-add show-map" src="{% static 'volunteer/images/map.png' %}">-->

                    <a href="{% url 'fullcalendar' %}">
                        <img class="align-self-center float-left nav-add" src="{% static 'volunteer/images/calendar.png' %}">
                    </a>
                </div>
            </div >
 <script type="text/javascript">


            function onEachFeature(feature, layer) {
              var props = feature.properties;
              if (!props.description){
                props.description = "Немає опису";
              }
              var content = `<img width="70" src="${props.get_events_type_url}"/><h4><a class="event-name" get_url="${props.get_event_url}">${props.name}</a></h4><p>${props.description}</p>`;
              layer.bindPopup(content);
            }


            function pointToLayer(feature, latlng) {
              var EventIcon = L.Icon.extend({
                options: {
                  // shadowUrl:    '/static/img/shadow.png',
                  iconSize:   [37, 63],
                  iconAnchor:   [30, 55],
                  popupAnchor:  [0, 0],
                  shadowSize:   [50, 58],
                  shadowAnchor: [15, 55],
                }
              });
              var event_icon = new EventIcon({iconUrl: feature.properties.get_events_type_marker_url});
              return L.marker(latlng, {icon: event_icon});
            }


            var dataurl = '{% url "event_geo_data" %}';


            window.addEventListener("map:init", function (event) {
              var map = event.detail.map;
              map.invalidateSize()
              console.log('here');
              console.log(map);
              fetch(dataurl)
                .then(function(resp) {
                  return resp.json();
                })
                .then(function(data) {
                  L.geoJSON(data, {
                    onEachFeature: onEachFeature,
                    pointToLayer: pointToLayer
                  }).addTo(map);
              });
            });

    </script>