{% load static %}
{{form.as_p}}

<div class="row">
    <div class="col-md-8 ep-event-info">
        <div class="row">
            <div class="col-md-auto text-left ">
                {% if event.events_or_task == True %}
                    <img class="ep_event_task" src="{% static 'volunteer/images/event.png' %}">
                {% else %}
                    <img class="" src="{% static 'volunteer/images/task.png' %}">
                {% endif%}
            </div>
        </div>
    </div>
</div>

