{% load i18n static %}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xml:lang="en-us" lang="en-us">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Fullcalendar</title>
        <link rel="stylesheet" href="{% static 'volunteer/calendar/bootstrap/dist/css/bootstrap.css' %}" type="text/css" media="screen">
        <script type="text/javascript" src="{% static 'volunteer/calendar/jquery/dist/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'volunteer/calendar/jquery-ui/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'volunteer/calendar/bootstrap/dist/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="/static/schedule.js"></script>
        <link rel="stylesheet" href="/static/schedule.css" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static 'volunteer/calendar/jquery-ui/themes/base/all.css' %}" type="text/css" media="screen">

<link rel='stylesheet' type='text/css' href="{% static 'volunteer/calendar/fullcalendar/dist/fullcalendar.css' %}" />
<script type='text/javascript' src="{% static 'volunteer/calendar/moment/moment.js' %}"></script>
<script type='text/javascript' src="{% static 'volunteer/calendar/fullcalendar/dist/fullcalendar.js' %}"></script>
<script type='text/javascript' src="{% static 'volunteer/calendar/fullcalendar/dist/locale-all.js' %}"></script>
    </head>


    <body>
         <style>
.fc th, .fc td {
    background: white;
}
*{
font-family: 'Ubuntu',sans-serif !important;
}

.fc-day-number {
    padding: 2px 5px!important;
}
body{
    padding-top: 50px;
    text-align: center;
    background: #4DBCBC;
    height: 100%;
}

#calendar{
    margin: 15px;
    max-width: 800px;
    display: inline-block;
}

.fc-left h2 {
    font-size: 22px;
    color: lightcyan;
}

    </style>


        <div id="body">



<div id="calendar"></div>
        <script type='text/javascript'>
            $(document).ready(function() {

                // page is now ready, initialize the calendar...
                $('#calendar').fullCalendar({
                    // put your options and callbacks here
                  events: '/schedule/api/occurrences?calendar_slug=volunteer_calendar_slug',
                  locale: 'uk'
                })
            $(document).ready(function() {

            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                // put your options and callbacks here
              events: '/schedule/api/occurrences?calendar_slug=volunteer_calendar_slug',
              locale: 'uk'
            })

        });
            });
        </script>



        </div>

        <div id="footer"></div>

    </body>
</html>
