{% extends "base.html" %}
{% load static %}

{% block menu_button %}
    <button class="btn btn-enter"  onclick = "show('block')">вхід</button>
{% endblock %}

{% block container %}

<div id="gray" onclick = "show('none')"></div>
    <div id="window">
        <img class = "close" src="{% static 'volunteer/images/close.png' %}" alt="" onclick = "show('none')">
        <div class="form">
            <h2>Реєстрація</h2>
            <form action="index.html" name="f1">
                <input type="text" placeholder="Ім'я" name="name1" class="input">
                 <input type="text" placeholder="Прізвище" name="name2" class="input">
                <input type='tel' placeholder="Місто" name="tel" class="input">
                <div class="socal_logos">
                    <a href="{% url 'social:begin' 'facebook' %}"><img class = "col-md-3" src="{% static 'volunteer/images/facebook.png' %}"></a>
                    <a href="{% url 'social:begin' 'google-oauth2' %}"><img class = "col-md-3" src="{% static 'volunteer/images/google.png' %}"></a>
                    <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Login</button>
                  </form>
                </div>
                <input type="submit" value="Реєстрація" name="sab" class="input">

            </form>
        </div>
    </div>

<script type="text/javascript">
        function show(state){
            document.getElementById('window').style.display = state;
            document.getElementById('gray').style.display = state;
        }
    </script>

<div class="row aboutus">
    <div class="col-md-9 text-center">
         <h1 class = "slog">волонтером бути легко</h1>
            <p class="p-slog"> приєднуйся до Ліги Волонтерів і <br/> відчуй себе частиною міста </p>
    </div>
</div>

<div class="row task-info ">
    <div class="col-md-4">

        <img class="golden-cup" src="{% static 'volunteer/images/golden_cup.png' %}">

    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 text-left mt10vh">
                <h2 class=" slog make-task">виконуй завдання  —  <br> отримуй винагороди</h2>
            </div>

        </div>

        <div class="row text-left">

            <div class="col-md-6">
                <ul>
                    <li class="first-li">Завдання</li>
                    <li>-прибирай</li>
                    <li>-будуй</li>
                    <li>-висаджуй дерева</li>
                    <li>-допомагай тваринам</li>
                    <li>-патрулюй вулиці</li>

                </ul>

            </div>

            <div class="col-md-6">
                    <ul>
                    <li  class="first-li" >Винагороди</li>
                    <li>-знижки на комуналки</li>
                    <li>-е-квитки на проїзд</li>
                    <li>-подарунки від мера</li>
                    <li>-футболки, чашки, сумки</li>
                    <li>-місто твоєї мрії!</li>

                </ul>
            </div>

        </div>

    </div>
</div>


<div class="row how-it-works my-auto align-items-center justify-content-center">
    <!--<div class="col-md-2"></div>-->
    <div class="col-md-auto">
        <h4 class="mot-text">Бачиш проблему?</h4>
        <img class="hiw-image" src="{% static 'volunteer/images/binocle.png' %}">
    </div>
    <div class="col-md-auto">
        <h4 class="mot-text">Створюй завдання</h4>
        <img class="hiw-image"  src="{% static 'volunteer/images/task_list.png' %}">
    </div>
    <div class="col-md-auto">
        <h4 class="mot-text">Знаходь однодумців</h4>
        <img class="hiw-image"  src="{% static 'volunteer/images/help.png' %}">
    </div>
    <div class="col-md-auto">
        <h4 class="mot-text">Допомагай місту</h4>
        <img class="hiw-image"  src="{% static 'volunteer/images/wand.png' %}">
    </div>

</div>

<div class="row superman">
    <div class="col-md-5th-3 justify-content-center d-flex align-items-start">
        <h1 class="my-flex-item slog mot-h">Хочеш бути супергероєм <br> міста?</h1>

    </div>
    <div class="col-md-5th-2 justify-content-center d-flex align-items-end">
        <img class=" my-flex-item"  src="{% static 'volunteer/images/superhero.png' %}">
    </div>

</div>




<div class="row stairs">
    <div class="col-md-12">
        <div class="row ">
            <div class="col-md-5th-3 step ">

            </div>
            <div class="col-md-5th-1 justify-content-center step d-flex align-items-end">
                <img class="achievement-image my-flex-item"  src="{% static 'volunteer/images/achievement.png' %}">
            </div>

            <div class="col-md-5th-1 justify-content-center d-flex align-items-center">
                <button class="btn btn-block btn-join">приєднатися</button>
            </div>
        </div>
        <div class="row my-auto align-items-center">
            <div class="col-md-5th-2 step">

            </div>
            <div class="col-md-5th-1 justify-content-center step d-flex align-items-end">
                <img class="achievement-image my-flex-item"  src="{% static 'volunteer/images/coins.png' %}">
            </div>
            <div class="col-md-5th-1 text-center step-info">
                <p>Отримуй <br>прикольні ачівки</p>

            </div>
        </div>
        <div class="row my-auto align-items-center">
            <div class="col-md-5th-1 text-center step">

            </div>
            <div class="col-md-5th-1  justify-content-center step d-flex align-items-end">
                <img class="achievement-image my-flex-item"  src="{% static 'volunteer/images/flag.png' %}">
            </div>
            <div class="col-md-5th-1 text-center step-info">
                 <p>Заробляй <br>бали</p>
            </div>
        </div>
        <div class="row my-auto align-items-center ">
            <div class="col-md-5th-1 justify-content-center step d-flex align-items-end">
                <img class="achievement-image my-flex-item"  src="{% static 'volunteer/images/find.png' %}">
            </div>
            <div class="col-md-5th-1  text-center step-info">
                <p>Бери участь <br>у подіях міста</p>

            </div>

        </div>
        <div class="row my-auto align-items-center">
            <div class="col-md-5th-1 text-center step-info">
                <p>Обирай цікаві <br>тобі завдання</p>
            </div>

        </div>

        <div class="row my-auto align-items-end  d-flex justify-content-center wait-for-you">


            <div class="col-md-3 text-center justify-content-center  align-items-center">

                    <img class="cirle" src="{% static 'volunteer/images/team.png'%}">

                <p class="step-info">
                    дружня команда <br> волонтерів
                </p>

            </div>

            <div class="col-md-3 text-center">

                     <img class="cirle" src="{% static 'volunteer/images/party.png' %}">

                 <p class="step-info">
                    яскраві події <br>та хороший настрій
                </p>


            </div>
            <div class="col-md-3 text-center">

                     <img class="cirle" src="{% static 'volunteer/images/gifts.png' %}">

                 <p class="step-info">
                    плюшки місцевого<br>виробництва
                </p>


            </div>



        </div>

        <div class="row align-items-center text-center join">
            <div class="col-md-12">
                <img class="my-flex-item img-join"  src="{% static 'volunteer/images/dirizable.png' %}">
            </div>

        </div>

    </div>

</div>

<!--<div class="row faq t">-->
    <!--<div class="col-md-4 justify-content-right d-flex align-items-star">-->
    <!--<h1 class="slog my-flex-item">F.A.Q.</h1>-->
    <!--</div>-->
    <!--<div class="col-md-auto">-->
    <!--2-->
    <!--</div>-->

<!--</div>-->


{% endblock %}