{% load static %}


<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registrationLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header modal-enter-h">
           <img class = "reg-logo" src="{% static 'volunteer/images/reg_logo.png' %}">
      </div>
      <div class="modal-body text-center">
           <form action="{% url 'dispatch_social_login' %}" name="f1">

                   <button class="usual-login-btn">Ввести логін і пароль</button>

                <p align="middle">або</p>
                <p>Увійти через соцмережі:</p>
               <div class="socal_logos text-center">
                   <a href="{% url 'social:begin' 'facebook' %}"><img class="soc-icon" type="submit" value="Реєстрація Facebook" name="sub_fb"  src="{% static 'volunteer/images/facebook.png' %}"></a>
                   <a href="{% url 'social:begin' 'google-oauth2' %}"><img class="soc-icon" type="submit" value="Реєстрація Google" name="sub_gg" src="{% static 'volunteer/images/google.png' %}"></a>
               </div>
        </form>
      </div>
    </div>
  </div>
</div>