{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      .leaflet-container { height: 100%; }
    </style>
    <script type="text/javascript">


function onEachFeature(feature, layer) {
              var props = feature.properties;
              if (!props.description){
                props.description = "Немає опису";
              }
              var content = `<img width="100" src="${props.get_events_type_url}"/><h4><a class="event-name" get_url="${props.get_event_url}">${props.name}</a></h4><p>${props.description}</p>`;
              layer.bindPopup(content);
            }


            function pointToLayer(feature, latlng) {
              var EventIcon = L.Icon.extend({
                options: {
                  // shadowUrl:    '/static/img/shadow.png',
                  iconSize:   [37, 63],
                  iconAnchor:   [30, 55],
                  popupAnchor:  [0, 0],
                  shadowSize:   [50, 58],
                  shadowAnchor: [15, 55],
                }
              });
              var event_icon = new EventIcon({iconUrl: feature.properties.get_events_type_marker_url});
              return L.marker(latlng, {icon: event_icon});
            }


            var dataurl = '{% url "event_geo_data" %}';


            window.addEventListener("map:init", function (event) {
              var map = event.detail.map;
              map.invalidateSize()
              console.log('here');
              console.log(map);
              fetch(dataurl)
                .then(function(resp) {
                  return resp.json();
                })
                .then(function(data) {
                  L.geoJSON(data, {
                    onEachFeature: onEachFeature,
                    pointToLayer: pointToLayer
                  }).addTo(map);
              });
            });

    </script>
  </head>
  <body>
    
    {% leaflet_map "not_main" %}
  </body>
</html>