{% load static %}


{% load leaflet_tags %}

    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      .leaflet-container { height: 100%; }
    </style>
    <script type="text/javascript"></script>


function onEachFeature(feature, layer) {
  var props = feature.properties;
  if (!props.description){
    props.description = "Немає опису";
  }
  var content = "<img width="300" src="${props.get_events_type_url}"/><h3><a class="event-name" get_url="${props.get_event_url}">${props.name}</a></h3><p>${props.description}</p>";
  layer.bindPopup(content);
}


    </script>
