{% extends "base.html" %}
{% load static %}


{% block container %}


<div class="upload-image">

</div>

<input id="upload" value="Choose a file" accept="image/*" type="file">
<button class="upload-result">Result</button>



<script>
$uploadCrop = $('.upload-image').croppie({
    enableExif: true,
    viewport: {
        width: 156,
        height: 176,
    },
    boundary: {
        width: 200,
        height: 300
    }
});

function readFile(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('.upload-image').addClass('ready');
            $uploadCrop.croppie('bind', {
                url: e.target.result
            }).then(function(){
                console.log('jQuery bind complete');
            });

        }

        reader.readAsDataURL(input.files[0]);
    }
    else {
        swal("Sorry - you're browser doesn't support the FileReader API");
    }
}



$('#upload').on('change', function(){

  readFile(this);

      $('.upload-result').on('click', function (ev) {
        $uploadCrop.croppie('result', {
            type: 'canvas',
            size: 'original'
        }).then(function (resp) {
            console.log(resp);
            var strImage = resp.replace(/^data:image\/[a-z]+;base64,/, "");
            console.log(strImage)
            var blob = b64toBlob(strImage, 'image/png');
            var blobUrl = URL.createObjectURL(blob);
            console.log(blobUrl);
            console.log(typeof(blob));
            $('#image').val(blob);
            console.log( $('#image').val());
            })
        })

})

</script>

{% endblock %}