{% load static %}


<!--Modal init-->

<div class="modal fade" id="task-or-event" tabindex="-1" role="dialog" aria-labelledby="taskoreventLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
            <h5 class="modal-title">Організувати подію або завдання</h5>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-6" align="center">


                <img class="task-or-event-images event-select" src="{% static 'volunteer/images/event.png' %}">
                <p style="color:darkcyan"><b>Подія</b></p>
            </div>
            <div class="col-6" align="center">
                <img class="task-or-event-images task-select" src="{% static 'volunteer/images/task.png' %}">
                <p style="color:darkcyan"><b>Завдання</b></p>
            </div>

       </div>

        <div class="row">
            <div class="col-12">
            <p class="text-center">
                Подія на відміну від завдання має чітку дату і адресу.</p></div>
            <div class="col-6">
                <p class="text-center"><strong>Приклад події</strong>: суботник у міському парку, день донора.</p></div>
            <div class="col-6">
                <p class="text-center"><strong>Приклад  завдання</strong>: віднести 5 іграшок у дитячий будинок.</p></div>

        </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!--End of modal init-->


<!--Modal event-->
<form action="{% url 'newevent' %}" method="post" id="new-event-form-id"> <!--  -->

 {% if show_new_event_form %}
    <div class="modal fade show" id="event_register_main" tabindex="-1" role="dialog" aria-labelledby="event_register_modal" style="display: block;">
 {% else %}
     <div class="modal fade" id="event_register_main" tabindex="-1" role="dialog" aria-labelledby="event_register_modal" aria-hidden="true">
 {% endif %}
      <div class="modal-dialog " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="event_register_main_modal">Зареєструвати подію</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                {% csrf_token %}

                {{form.name.errors}}
                {{ form.name.label_tag }}<br>
                {{form.name}}<br>

                {{form.events_type.errors}}
                {{ form.events_type.label_tag }}<br>
                {{form.events_type}}<br>

                {{form.status.errors}}
                {{ form.status.label_tag }}<br>
                {{form.status}}<br>

                {{form.date_event.errors}}
                {{ form.date_event.label_tag }}<br>
                {{form.date_event}}<br>

                {{form.time_event.errors}}
                {{ form.time_event.label_tag }}<br>
                {{form.time_event}}<br>

                {{form.city.errors}}
                {{ form.city.label_tag }}<br>
                {{form.city}}<br>

                {{form.address.errors}}
                {{ form.address.label_tag }}<br>
                {{form.address}}<br>
                {{ form.media }}
                {{ form.location.label_tag }}<br>
                {{ form.location }}<br>
                {{ form.longitude }}<br>
                {{ form.latitude }}<br>





                <!--{{form.max_part.errors}}-->
                <!--{{ form.max_part.label_tag }}<br>-->
                <!--{{form.max_part}}<br>-->

                <!--{{form.min_part.errors}}-->
                <!--{{ form.min_part.label_tag }}<br>-->
                <!--{{form.min_part}}<br>-->

                {{form.recommended_points.errors}}
                {{ form.recommended_points.label_tag }}<br>
                {{form.recommended_points}}<br>

                {{form.contsact.errors}}
                {{ form.contact.label_tag }}<br>
                {{form.contact}}<br>


                {{form.description.errors}}
                {{ form.description.label_tag }}<br>
                {{form.description}}<br>

                {{form.events_or_task}}


          </div>
          <div class="modal-footer">
            <button type="submit" id="new-event-submit" class="btn" >Далі</button>

          </div>
            <script language='javascript' type='text/javascript'>
                $( document ).ready(function() {
                 $(document).on('input', 'input#id_max_part, input#id_min_part', function(e){

                    var min_part = parseInt($('input#id_min_part').get(0).value);
                    var max_part = parseInt($('input#id_max_part').get(0).value);
                    var element = $('input#id_max_part').get(0);
                    if(min_part>max_part){
                        element.setCustomValidity('Мінімальне значення має бути не більшим за максимальне');

                    } else {
                        element.setCustomValidity('');

                    }
                  });

                  $(document).on('submit', '#new-event-form-id', function(e){

                    console.log('caught new-event-submit')
                    var data = $(this).serialize()

                    /* var csrf_token = $(' input[name = "csrfmiddlewaretoken"]').last().val();
                    data['csrfmiddlewaretoken'] = csrf_token; */
                    var url = $(this).attr('action');


                    /*var min_part = parseInt($('input#id_min_part').get(0).value);
                    var max_part = parseInt($('input#id_max_part').get(0).value);
                    var element = $('input#id_max_part').get(0);*/




                    /* $.ajax({
                     url: url,
                     type :'POST',
                     data:data,

                     success: function(data){
                        console.log('OK')
                        console.log(data)

                     },
                     error: function(){
                        console.log('error newevent submit')
                     }
                    }) */

                })

              })

            </script>
        </div>
      </div>
    </div>
</form>

<!--End Modal event-->


<!--Modal task-->
    <form action="{% url 'newevent'%}" method="post">
         <div class="modal fade" id="task_register_main" tabindex="-1" role="dialog" aria-labelledby="task_register_main_modal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="task_register_main_modal">Зареєструвати завдання</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    {% csrf_token %}

                    {{form.name.errors}}
                    {{ form.name.label_tag }}<br>
                    {{form.name}}<br>

                    {{form.events_type.errors}}
                    {{ form.events_type.label_tag }}<br>
                    {{form.events_type}}<br>

                    {{form.city.errors}}
                    {{form.city.label_tag}}<br>
                    {{form.city}}<br>

                    {{form.recommended_points.errors}}
                    {{ form.recommended_points.label_tag }}<br>
                    {{form.recommended_points}}<br>
                    <!--<label for="{{ form.photo.id_for_label}}"> Фото </label>-->

                    {{form.contsact.errors}}
                    {{ form.contact.label_tag }}<br>
                    {{form.contact}}<br>

                    {{form.description.errors}}
                    {{ form.description.label_tag }}<br>
                    {{form.description}}<br>

                    {{form.events_or_task}}
                    {{form.status}}

              </div>
              <div class="modal-footer">
                <button type="submit" class="btn" >Далі</button>
              </div>
            </div>
          </div>
        </div>
    </form>

<!--End Modal task-->

<script type="text/javascript">
        function form_submit() {
            document.getElementById("task_or_event_application_form").submit();
        }
</script>

 <!--<form id="task_or_event_application_form" action="{% url 'app_task' %}" method="post">-->
         <!--<div class="modal fade" id="task_applicate" tabindex="-1" role="dialog" aria-labelledby="task_applicatemodal" aria-hidden="true">-->
          <!--<div class="modal-dialog modal-dialog-centered" role="document">-->

           <!--&lt;!&ndash;id_event = {{ event.id }}&ndash;&gt;-->
            <!--<div class="modal-content">-->
              <!--<div class="modal-header">-->
                <!--<h5 class="modal-title" id="task_applicate_modal">Залишити заявку </h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                  <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
              <!--</div>-->
              <!--<div class="modal-body">-->
                        <!--{% csrf_token %}-->
                        <!--{{form_task.contact.errors}}-->
                        <!--{{ form_task.contact.label_tag }}<br>-->
                        <!--{{form_task.contact}}<br>-->
                        <!--{{form_task.event}}-->

              <!--</div>-->
              <!--<div class="modal-footer">-->
                <!--<button id="thebutton" formmethod="post" form="task_or_event_application_form" type="submit" class="btn" >Далі</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
    <!--</form>-->



<form id="task_or_event_application_form" action="{% url 'app_task' %}" method="post">
         <div class="modal fade" id="task_applicate" tabindex="-1" role="dialog" aria-labelledby="task_applicatemodal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">

           <!--id_event = {{ event.id }}-->
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="task_applicate_modal">Залишити заявку </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                        {% csrf_token %}
                        {{form_task.contact.errors}}
                        {{form_task.contact.label_tag }}<br>
                        {{form_task.contact}}<br>
                        {{form_task.event}}
                        <br>
                        <!--<input name="id" value="1">-->

              </div>
              <div class="modal-footer">
                <button id="thebutton" formmethod="post" form="task_or_event_application_form" type="submit" class="btn" >Далі</button>
              </div>
            </div>
          </div>
        </div>
    </form>
