{% load static %}

<!-- Modal -->
    <div class="modal fade" id="event_register" tabindex="-1" role="dialog" aria-labelledby="event_register_modal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="event_register_modal">Зареєструвати подію/завдання</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <input type="text" placeholder="Назва" name="name" class="input" required>
              <hr>
                <select id="event_task" class="text-center" required>
                    <option value="" disabled selected> Оберіть тип</option>
                    <option type_id = "event">Подія</option>
                    <option type_id = "task">Завдання</option>
                </select>
              <hr>
                <select id="category" class="text-center" required>
                            <option value="" disabled selected> Оберіть категорію</option>
                           {% for type_ev in types_events %}
                                <option type_id = "{{type_ev.id}}">{{ type_ev.type }}</option>
                            {% endfor %}
                </select>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-next" >Далі</button>
          </div>
        </div>
      </div>
    </div>
<!-- Modal -->
    <div class="modal fade" id="event_e_register" post_url = "{% url 'newevent'%}" tabindex="-1" role="dialog" aria-labelledby="event_register_event" aria-hidden="true" style="overflow-y:auto;">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="event_register_event">Зареєструвати подію/завдання</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <select id="event_status" class="text-center" >
                    <option value="" disabled selected required> Оберіть тип</option>
                    {% for st in status %}
                        <option status_id = "{{st.id}}">{{ st.status }}</option>
                    {% endfor %}
                </select>
                <div class="add-org-task d-none">
                    <div class="task-info">
                        <br>
                        <label>Завдання в підготовці</label><br>
                         <div class="input-group  add-task mb-3">
                              <input type="text" class="form-control name_task" placeholder="Назва" >
                              <input type="number" class="form-control point_task" placeholder="Балів за виконання">
                          </div>
                        <label>Описання</label><br>
                        <textarea  rows="3" class="form-control descr_task" name="description_org_task"></textarea>
                    </div>



                </div>
              <button class="btn more-tasks d-none"> Більше завдань </button>
              <hr>
              <input type="text" name="date" class="input" placeholder="Дата" onfocus="(this.type='date')">
              <hr>
              <input type="text" placeholder="Адреса" name="address" class="input">
              <hr>
              <label>Кількість учасників</label><br>
              <div class="input-group mb-3">
                  <input name="from" type="number" class="form-control" placeholder="Від" >
                  <input name="to" type="number" class="form-control" placeholder="До">
              </div>
              <hr>
              <label>Рекомендована кількість балів за участь</label><br>
              <input type="number" name="points_quant" class="input" required>
              <hr>
              <label>Залиште Ваш контактний e-mail</label><br>
              <input type="email" name="user_email" class="input">

               <hr>
              <label for="description">Описання:</label><br>
              <textarea  rows="3" class="form-control" id="description_e"></textarea>


          </div>
          <div class="modal-footer">
            <button type="button" id="btn-done" class="btn btn-primary ">Готово</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="task_register" tabindex="-1" role="dialog" aria-labelledby="event_register_task" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="event_register_task">Зареєструвати подію/завдання</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

              <label>Рекомендована кількість балів за виконання завдання</label><br>
              <input type="number" name="t_points_quant" class="input" required>
              <hr>
              <label>Залиште Ваш контактний e-mail</label><br>
              <input type="email" name="t_user_email" class="input" required>

               <hr>
              <label for="description">Описання:</label><br>
              <textarea  rows="3" class="form-control" id="description" ></textarea>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-done">Готово</button>
          </div>
        </div>
      </div>
    </div>



<!--Modal init-->

<div class="modal fade" id="task-or-event" tabindex="-1" role="dialog" aria-labelledby="taskoreventLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
            <h5 class="modal-title">Організувати</h5>
      </div>
      <div class="modal-body">

       <div class="text-center">
            <img class="task-or-event-images event-select" src="{% static 'volunteer/images/event.png' %}">
            <img class="task-or-event-images task-select" src="{% static 'volunteer/images/task.png' %}">
       </div>

        <div>
            <p class="text-describe">
            Подія на відміну від завдання має мати чітку дату і адресу, а також передбачає зібрання людей для фізичного вирішення проблеми.
                <strong>Приклад події</strong>: суботник у міському парку, день донора. <strong>Приклад  завдання</strong>: віднести 5 іграшок у дитячий будинок, редизайн схеми руху міського транспорту.
            </p>
        </div>

      </div>
    </div>
  </div>
</div>

<!--End of modal init-->


<!--Modal task-->
<form action="{% url 'newevent'%}" method="post">
     <div class="modal fade" id="event_register_main" tabindex="-1" role="dialog" aria-labelledby="event_register_modal" aria-hidden="true">
      <div class="modal-dialog " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="event_register_main_modal">Зареєструвати подію</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                {% csrf_token %}

                {{form.name.errors}}
                {{ form.name.label_tag }}<br>
                {{form.name}}<br>

                {{form.events_type.errors}}
                {{ form.events_type.label_tag }}<br>
                {{form.events_type}}<br>

                {{form.status.errors}}
                {{ form.status.label_tag }}<br>
                {{form.status}}<br>

                {{form.date_event.errors}}
                {{ form.date_event.label_tag }}<br>
                {{form.date_event}}<br>

                {{form.address.errors}}
                {{ form.address.label_tag }}<br>
                {{form.address}}<br>

                {{form.max_part.errors}}
                {{ form.max_part.label_tag }}<br>
                {{form.max_part}}<br>

                {{form.min_part.errors}}
                {{ form.min_part.label_tag }}<br>
                {{form.min_part}}<br>

                {{form.recommended_points.errors}}
                {{ form.recommended_points.label_tag }}<br>
                {{form.recommended_points}}<br>

                {{form.contsact.errors}}
                {{ form.contact.label_tag }}<br>
                {{form.contact}}<br>


                {{form.description.errors}}
                {{ form.description.label_tag }}<br>
                {{form.description}}<br>

                {{form.events_or_task}}


          </div>
          <div class="modal-footer">
            <button type="submit" class="btn" >Далі</button>
          </div>
        </div>
      </div>
    </div>
</form>

<!--End Modal task-->


<!--Modal event-->
    <form action="{% url 'newevent'%}" method="post">
         <div class="modal fade" id="task_register_main" tabindex="-1" role="dialog" aria-labelledby="task_register_main_modal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="task_register_main_modal">Зареєструвати завдання</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    {% csrf_token %}

                    {{form.name.errors}}
                    {{ form.name.label_tag }}<br>
                    {{form.name}}<br>

                    {{form.events_type.errors}}
                    {{ form.events_type.label_tag }}<br>
                    {{form.events_type}}<br>

                    {{form.recommended_points.errors}}
                    {{ form.recommended_points.label_tag }}<br>
                    {{form.recommended_points}}<br>
                    <!--<label for="{{ form.photo.id_for_label}}"> Фото </label>-->

                    {{form.contsact.errors}}
                    {{ form.contact.label_tag }}<br>
                    {{form.contact}}<br>

                    {{form.description.errors}}
                    {{ form.description.label_tag }}<br>
                    {{form.description}}<br>

                    {{form.events_or_task}}
                    {{form.status}}

              </div>
              <div class="modal-footer">
                <button type="submit" class="btn" >Далі</button>
              </div>
            </div>
          </div>
        </div>
    </form>

<!--End Modal task-->

 <form action="{% url 'app_task'%}" method="post">
         <div class="modal fade" id="task_applicate" tabindex="-1" role="dialog" aria-labelledby="task_applicatemodal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="task_applicate_modal">Залишити заявку </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    {% csrf_token %}
                        {{form_task.contact.errors}}
                        {{ form_task.contact.label_tag }}<br>
                        {{form_task.contact}}<br>
                        {{form_task.event}}
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn" >Далі</button>
              </div>
            </div>
          </div>
        </div>
    </form>

         <div class="modal fade" id="org_task_applicate" tabindex="-1" role="dialog" aria-labelledby="org_task_applicatemodal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="org_task_applicatemodal">Залишити заявку </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    {% csrf_token %}
                        {{form_org_task.contact.errors}}
                        {{ form_org_task.contact.label_tag }}<br>
                        {{form_org_task.contact}}<br>
                        {{form_task.task}}
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn" >Далі</button>
              </div>
            </div>
          </div>
        </div>
