{% extends "base.html" %}
{% load static %}


{% block menu_item %}
    <li class="nav-item">
        <a class="nav-link" href="#">Знайти подію<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Організувати подію</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#">Новини</a>
    </li>
{% endblock %}

{% block menu_button %}
    <form action="{% url 'logout' %}">
        <button class="btn text-primary-color dark-primary-color my-2 my-sm-0" type="submit">Вийти</button>
    </form>
{% endblock %}

{% block container %}
           <form method="post" style="margin-top: 20vh;
            border: solid 1px;
            border-radius: 15px;
            padding: 5vh;
            background-color: grey;" enctype="multipart/form-data" action="/newevent/" >


       <div class="form-group row">
            {% for field in form %}

                  <label  class="col-md-2 col-form-label">{{field.label}}</label>
                  <div class="col-md-10">
                    {{field}}
                  </div>
           {% endfor %}
           <button class="btn" type="submit"> Додати подію</button>
        </div>
       </form>
{% endblock %}


