{% load static %}

{% load static notifications_tags %}


<button onclick='mark_all_as_read()'>Позначити усе як прочитане</button>
    {% for notification in unread %}
<div class="row event-block">

        <div class="col-md-3 text-center text-center my-auto align-items-center ">
            <img src= "{{notification.image}}" style="height:18vh">
        </div>
        <div class="col-md-7 info">
            <div class="event-item-info">
                <h2  class="event-name" >{{notification.title}}</h2>
                <p class="event-description">{{notification.description|safe}}</p>
            </div>
        </div>
        <div class="col-md-2 padding-0">
            <p>{{notification.relative_time}}</p>
            {% if notification.is_unread %}
                <p>Непрочитане</p>
            {% else %}
                <p>Прочитане</p>
            {% endif %}

        </div>
    </div>
    {% endfor %}
