{% load static %}


<div class="row event-block">
    <div class="col-md-3 text-center text-center my-auto align-items-center ">
        <img src= "{{TУТ КАРТИНКА}}" style="height:18vh">
    </div>
    <div class="col-md-7 info">
        <div class="event-item-info">
            <h2  class="event-name" >{{ ИМЯ НОТИФИКЕЙШИНА }}</h2>
            <p class="event-description">{{ ОПИСАНИЕ НОТИФИКЕЙШИНА}}</p>
        </div>
    </div>
    <div class="col-md-2 padding-0">
        {{ТУТgit  ДАТА}}
    </div>
</div>