{% load static %}

{% load static notifications_tags %}


<!--<button onclick='mark_all_as_read()'>Позначити усе як прочитане</button>-->
    {% for notification in unread_read %}
<div class="row event-block ">

        <div class="col-3 text-center text-center my-auto align-items-center ">
            <img class="notif-image" src= "{{notification.image}}">
        </div>
        <div class="col-7 info">
            <div class="event-item-info">
                <h2  class="notification-name" >{{notification.title}}</h2>
                <p class="event-description">{{notification.description|safe}}</p>
            </div>
        </div>
        <div class="col-2 padding-0">
            <p style="margin:auto!important">{{notification.relative_time}}</p>
            {% if notification.is_unread %}
                <p class="d-none d-md-block">Непрочитане</p>
            {% else %}
                <p class="d-none d-md-block">Прочитане</p>
            {% endif %}

        </div>
    </div>
    {% endfor %}
