{% load static %}


<div class="modal fade" id="registration" tabindex="-1" role="dialog" aria-labelledby="registrationLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
           <img class = "reg-logo" src="{% static 'volunteer/images/reg_logo.png' %}">
      </div>
      <div class="modal-body text-center">
           <button class="usual-login-btn usual-reg">Звичайна реєстрація</button>
           <!--<p><a href="{% url 'signup' %}">Звичайна реєстрація</a></p>-->
           <p align="middle">або</p>
           <p>через соцмережі:</p>
           <form action="{% url 'dispatch_social_login' %}" name="f1">
                <div class="center-personal">
                    <!--<input type="text" placeholder="Ім'я" name="first_name" class="input input-reg">-->
                   <!--<input type="text" placeholder="Прізвище" name="second_name" class="input input-reg">-->
                    {% for field in profile_form %}
                      <div class="row">
                        <div class="form-group">
                          {{ field.errors }}
                          {{ field }}
                        </div>
                      </div>
                    {% endfor %}
                </div>
               <div class="socal_logos text-center">
                   <input type="image" name="sub_fb" class="soc-icon" value="Реєстрація Facebook" src="{% static 'volunteer/images/facebook.png' %}" >
                   <input type="image" name="sub_fb" class="soc-icon" value="Реєстрація Google" src="{% static 'volunteer/images/google.png' %}" >
               </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% if usual_signup %}
    <div class="modal fade show" id="registration-usual" tabindex="-1" role="dialog" aria-labelledby="registrationUsualLabel" style="display: block;">
{% else %}
    <div class="modal fade" id="registration-usual" tabindex="-1" role="dialog" aria-labelledby="registrationUsualLabel" aria-hidden="true">
{% endif %}
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
           <img class = "reg-logo" src="{% static 'volunteer/images/reg_logo.png' %}">
      </div>
      <div class="modal-body text-center">
           <form method="post" action="{% url 'signup' %}">
                {% csrf_token %}

                {{ user_form.as_p }}
                {{ profile_form.as_p }}

                <button class="usual-login-btn" type="submit">Зареєструватися</button>
            </form>
      </div>
    </div>
  </div>
</div>